<!DOCTYPE html>
<html>
<head>
    {{ setupHeader() }}
    <title>{{ 'Calendar'|xlt }}</title>
    <!--[if IE]>
        <link rel="stylesheet" href="{{ webroot }}/interface/themes/ajax_calendar_ie.css">
    <![endif]-->
    {# Module-supplied scripts/styles. Filtered to same-origin in pnadmin.php / pnuserapi.php before assignment. #}
    {% if HEADER_SCRIPTS is defined and HEADER_SCRIPTS %}
        <!-- Module Scripts Started -->
        {% for script in HEADER_SCRIPTS %}
            <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
        <!-- Module Scripts Ended -->
    {% endif %}
    {% if HEADER_STYLES is defined and HEADER_STYLES %}
        <!-- Module Styles Started -->
        {% for cssSrc in HEADER_STYLES %}
            <link rel="stylesheet" href="{{ cssSrc|safe_href }}" type="text/css" />
        {% endfor %}
        <!-- Module Styles Ended -->
    {% endif %}
    <!-- the javascript used for the ajax_* style calendars -->
    <script src="{{ webroot }}/library/js/calendarDirectSelect.js"></script>
    <script>
        function event_time_click(elem) {
            EditEvent($(elem).parents("div.event_appointment").get(0));
        }
    </script>
</head>
<body class="{{ body_class|default('') }} calsearch_body w-100">
