<html>
    <body>
        <div class='wrapper'>
            <p>{{ "We received a patient registration email verification request from this email address at"|xlt }} {{ email|text  }}</p>
            <p>{{ "However, you can not use this email for patient registration since it is already being used."|xlt }}</p>
            <p>{{ "Recommend contacting the clinic if need guidance."|xlt }}</p>
            <p>{{ "Please ignore this email if you did not make this request."|xlt }}</p>
            <p>{{ "Thank You."|xlt }}</p>
        </div>
    </body>
</html>