{#
Render the username row

* Set username_container_class_list with an array of classes to override the default classes
* Set username_label_class_list with an array of classes to override the default classes
* Set username_input_container with an array of classes to override the default classes

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% block username %}
<div id="standard-auth-username" class="{{ username_container_class_list|default(['form-group', 'row'])|join(' ') }}">
    <label for="authUser" class="{{ srOnly }} {{ username_label_class_list|default(['col-form-label', 'col-sm-4'])|join(' ') }}">{{ "Username"|xlt }}</label>
    <div class="{{ username_input_container_class_list|default(['col'])|join(' ') }}">
        <input type="text" class="form-control" id="authUser" name="authUser" placeholder="{{ "Username"|xla }}">
    </div>
</div>
{% endblock %}
