{% extends "core/base.html.twig" %}

{% block head %}
    {{ setupHeader() }}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="row">
        <div class="col-12">
            <p class="alert alert-danger">
                {{ error|text }}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 mt-3">
            <span class="font-weight-bold">{{ "Registered"|xlt }}</span>
            <form method="post" action="forms_admin.php">
                <input type="hidden" name="csrf_token_form" value="{{ csrfToken|attr }}" />
                <input class="btn btn-primary" type="submit" name="update" value="{{ "Save"|xla }}" />

                <div class="table-responsive mt-3">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th colspan="5"></th>
                            <th>{{ "Priority"|xlt }}</th>
                            <th>{{ "Category"|xlt }}</th>
                            <th>{{ "Nickname"|xlt }}</th>
                            <th>{{ "Access Control"|xlt }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in registeredForms %}
                            <tr>
                                <td><span class="text">{{ form.id|text }}</span></td>
                                <td>
                                    {{ form.name|xl_form_title|text }}
                                    {% if form.patient_portal_compliant %}
                                        <i class="fas fa-cloud-arrow-up" title="{{ "Patient Portal Compliant"|xla }}"></i>
                                    {% endif %}
                                    {% if form.form_source == 'module' %}
                                        <i class="fas fa-cogs" title="{{ "Form is managed by a module"|xlt }}"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if form.sql_run == 0 %}
                                        <span class="text">{{ "registered"|xlt }}</span>
                                    {% elseif form.form_source == 'module' %}
                                        <span class="text-success" title="{{ "Form is managed by a module"|xlt }}">{{ "enabled"|xlt }}</span>
                                    {% elseif form.state == 0 %}
                                        <a class="link_submit text-danger" href="forms_admin.php?id={{ form.id|attr_url }}&method=enable&csrf_token_form={{ csrfToken|attr_url }}">{{ "disabled"|xlt }}</a>
                                    {% else %}
                                        <a class="link_submit text-success" href="forms_admin.php?id={{ form.id|attr_url }}&method=disable&csrf_token_form={{ csrfToken|attr_url }}">{{ "enabled"|xlt }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="text">
                                        {{ form.unpackaged ? "PHP extracted"|xlt : "PHP compressed"|xlt }}
                                    </span>
                                </td>
                                <td>
                                    {% if form.sql_run or form.form_source == "module" %}
                                        <span class="text">{{ "DB installed"|xlt }}</span>
                                    {% else %}
                                        <a class="link_submit" href="forms_admin.php?id={{ form.id|attr_url }}&method=install_db&csrf_token_form={{ csrfToken|attr_url }}">{{ "install DB"|xlt }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" size="4"
                                           name="priority_{{ form.id|attr }}" value="{{ form.priority|attr }}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" size="10"
                                           name="category_{{ form.id|attr }}" value="{{ form.category|attr }}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" size="10"
                                           name="nickname_{{ form.id|attr }}" value="{{ form.nickname|attr }}" />
                                </td>
                                <td>
                                    {% if form.form_source == 'core' %}
                                    <select name="aco_spec_{{ form.id|attr }}" class="form-control form-control-sm">
                                        <option value=""></option>
                                        {{ genAcoHtmlOptions(form.aco_spec, acoOptionsArray)|raw }}
                                    </select>
                                    {% else %}
                                        <span class="text" title="{{ "Form is managed by a module"|xlt }}">{{ form.aco_spec }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>

            <hr>
            <span class="font-weight-bold">{{ "Unregistered"|xlt }}</span>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for form in unregisteredForms %}
                        <tr>
                            <td colspan="2">
                                {{ form.name|xl_form_title|text }}
                                {% if form.patient_portal_compliant %}
                                    <i class="fas fa-cloud-arrow-up" title="{{ "Patient Portal Compliant"|xla }}"></i>
                                {% endif %}
                                {% if form.form_source == 'module' %}
                                    <i class="fas fa-cogs" title="{{ "Form is managed by a module"|xlt }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if form.unpackaged %}
                                    <a class="link_submit" href="forms_admin.php?name={{ form.directory|attr_url }}&method=register&csrf_token_form={{ csrfToken|attr_url }}">{{ "register"|xlt }}</a>
                                {% else %}
                                    <span class="text">{{ "n/a"|xlt }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="text">{{ form.unpackaged ? "PHP extracted"|xlt : "PHP compressed"|xlt }}</span>
                            </td>
                            <td>
                                <span class="text">{{ "n/a"|xlt }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
