<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<a class="navbar-brand" href="home.php">
		<img class="img-fluid" width="140" src="{{ images_static_relative | attr }}/logo-full-con.png"/>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="nav">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{% for item in navMenu %}
				<li class="nav-item {% if item.children %}dropdown{% endif %}">
					<a class="nav-link {% if item.children %}dropdown-toggle{% endif %}" href="{{ item.url | attr }}" {% if item.children %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% else %} data-toggle="{{ item.dataToggle | attr }}" data-parent="#cardgroup" {% endif %}>
						{% if item.icon %}
							<i class="fas {{ item.icon | attr}}"></i>
						{% endif %}

						{{ item.label | text }}

						{% if item.messageCount %}
							<i class="fa fa-envelope-open-text text-danger"></i>
						{% endif %}

					</a>

					{% if item.children | length > 0 %}
						<ul class="dropdown-menu" aria-labelledby="{{ item.dropdownID | attr }}-dropdown">
							{% for child in item.children %}
								<li>
									<a class="dropdown-item" href="{{ child.url | attr }}" {% if child.children %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %} {% if child.dataToggle %} data-toggle="{{ child.dataToggle | attr }}" data-parent="#cardgroup" {% endif %}>
										{% if child.icon %}
											<i class="fas {{ child.icon | attr }}"></i>
										{% endif %}


										{{ child.label | text }}
                                        {% if child.messageCount > 0 %}
                                            <span class="badge-pill badge-danger ml-1">{{ child.messageCount | text }}</span>
                                        {% endif %}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}

				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
