{# this is a page fragment for the payment form in the client portal #}

<style type"text/css">
#table_display th {
    font-weight: bold;
    text-align: center;
}
#table_display td.detail {
    text-align: center;
}
</style>

<table id="table_display" style="background: #eee;" class="table table-sm table-striped table-bordered w-100">
    <thead>
        <tr bgcolor="#cccccc" id="tr_head">
            <th width="60">
                {{ 'DOS' | xlt }}
            </th>
            <th width="120">
                {{ 'Visit Reason' | xlt }}
            </th>
            <th width="70" id="td_head_total_charge">
                {{ 'Total Charge' | xlt }}
            </th>
            <th width="70" id="td_head_rep_doc" style='display: none'>
                {{ 'Report/ Form' | xlt }}
            </th>
            <th width="200" id="td_head_description" style='display: none'>
                {{ 'Description' | xlt }}
            </th>
            <th width="70" id="td_head_insurance_payment">
                {{ 'Insurance Payment' | xlt }}
            </th>
            <th width="70" id="td_head_patient_payment">
                {{ 'Patient Payment' | xlt }}
            </th>
            <th width="55" id="td_head_patient_co_pay">
                {{ 'Co Pay Paid' | xlt }}
            </th>
            <th width="55" id="td_head_co_pay">
                {{ 'Required Co Pay' | xlt }}
            </th>
            <th width="70" id="td_head_insurance_balance">
                {{ 'Insurance Balance' | xlt }}
            </th>
            <th width="70" id="td_head_patient_balance">
                {{ 'Patient Balance' | xlt }}
            </th>
            <th width="50">
                {{ 'Paying' | xlt }}
            </th>
        </tr>
    </thead>

    <tbody>
        {% for encounter in encounters %}
        <tr id="tr_{{ loop.index }}">


    <td class='detail'>" . text(oeFormatShortDate($date)) . "</td>
    <td class='detail' id='" . attr($date) . "' align='left'> {{ encounter.encounter }}: {{ encounter.reason }}</td>
    <td class='detail' id='td_charges_{{ loop.index }}'>{{ encounter.charges | money }}</td>
    <td class='detail' id='td_inspaid_{{ loop.index }}'>{{ encounter.inspaid | money }}</td>
    <td class='detail' id='td_ptpaid_{{ loop.index }}'>{{ encounter.ptpaid | money }}</td>
    <td class='detail' id='td_patient_copay_{{ loop.index }}'>{{ encounter.patcopay | money }}</td>
    <td class='detail' id='td_copay_{{ loop.index }}'>{{ encounter.copay | money }}</td>
    <td class='detail' id='balance_{{ loop.index }}'>{{ encounter.balance | money }}</td>
    <td class='detail' id='duept_{{ loop.index }}'>{{ encounter.duept | money }}</td>

    <td class='detail' align='center'>
        <input class='form-control' name='" . attr($iname) . "'  id='paying_{{ loop.index }}' value='' onchange='coloring();calctotal()'  autocomplete='off' onkeyup='calctotal()'/>
    </td>




        </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th>{{ 'Total' | xlt }}</th>
            <th id='td_total_1'></th>
            <th id='td_total_2'>{{ sum_charges | money }}</th>
            <th id='td_total_3'>{{ sum_inspaid | money }}</th>
            <th id='td_total_4'>{{ sum_ptpaid | money }}</th>
            <th id='td_total_5'>{{ sum_patcopay | money }}</th>
            <th id='td_total_6'>{{ sum_copay | money }}</th>
            <th id='td_total_7'>{{ sum_balance | money }}</th>
            <th id='td_total_8'>{{ sum_duept | money }}</th>
            <th>
                <input class="form-control" name='form_paytotal' id='form_paytotal' value='' style='color: #3b9204;' readonly />
            </th>
        </tr>
    </tfoot>

</table>

{# vim: ft=html #}
