<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Change Portal Credentials'|xlt }}</title>
    {{ setupHeader(['no_main-theme', 'portal-theme', 'opener']) }}
    {% if isSubmit %}
        <script>dlgclose();</script>
    {% endif %}
    <script>
        function checkUserName() {
            let vacct = document.getElementById('uname').value;
            let vsuname = document.getElementById('login_uname').value;
            let data = {
                'action': 'userIsUnique',
                'account': vacct,
                'loginUname': vsuname
            };
            $.ajax({
                type: 'GET',
                url: './account.php',
                data: data
            }).done(function (rtn) {
                if (rtn === '1') {
                    return true;
                }
                alert({{ 'Log In Name is unavailable. Try again!'|xlj }});
                return false;
            });
        }

        function process_new_pass() {
            let newUsername = document.getElementById('login_uname').value;
            let existingUsername = {{ auth.portal_login_username|js_escape }};
            let confirmUsername = document.getElementById('confirm_uname').value;
            // has to be changed, can't be empty
            if (existingUsername != newUsername
                && newUsername != confirmUsername) {
                alert({{ 'The Username fields are not the same.'|xlj }});
                return false;
            } else if (confirmUsername == "") {
                alert({{ 'The Username must not be empty.'|xlj }});
            }

            // if empty string... not changing passwords
            let newPass = document.getElementById('pass_new').value;
            let newPassConfirm = document.getElementById('pass_new_confirm').value;
            if (newPass != newPassConfirm) {
                alert({{ 'The new password fields are not the same.'|xlj }});
                return false;
            }
            if (newPass == newPassConfirm) {
                if (!confirm({{ 'The new password is the same as the current password. Click Okay to accept anyway.'|xlj }})) {
                    return false;
                }
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <form action="" method="POST" onsubmit="return process_new_pass()">
        <input class="d-none" type="text" name="dummyuname" />
        <input class="d-none" type="password" name="dummypassword" />
        {{ csrfToken("portal_index_reset", "csrf_token_form") }}

        <div class="row no-gutters mb-2">
            <div class="col-12 card">
                <div class="card-header">
                    <h5 class="text-center">{{ "Account Username"|xlt }} <i class="fa fa-info-circle text-info" title="{{ "Your username is case sensitive"|xla }}"></i></h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Change Username'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="login_uname" id="login_uname" type="text" required onblur="checkUserName()"
                                   title="{{ 'Enter a minimum of 8 characters. Recommended to include symbols and numbers but not required.'|xla }}" pattern=".{8,}"
                                   value="{{ auth.portal_login_username|attr }}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Confirm Username'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="confirm_uname" id="confirm_uname" type="text" required
                                   title="{{ 'You must confirm this Username.'|xla }}"
                                   autocomplete="none" pattern=".{8,80}" value="" />
                        </div>
                        <div class="col-12 col-md-9 offset-md-3 font-italic">
                            {{ "Enter a minimum of 8 characters. Recommended to include symbols and numbers but not required."|xlt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 card">
                <div class="card-header">
                    <h5 class="text-center">{{ "Account Password"|xlt }}  <i class="fa fa-info-circle text-info" title="{{ "Your password is case sensitive"|xla }}"></i></h5>
                </div>
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Change Password'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="pass_new" id="pass_new" type="password" required
                                   placeholder=""
                                   title="{{ 'You must enter a new or reenter current password to keep it. Even for Username change.'|xla }}"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Confirm Password'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="pass_new_confirm" id="pass_new_confirm" type="password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="none" />
                        </div>
                        <div class="col-12 col-md-9 offset-md-3 font-italic">
                            {{ "Password must be at least 8 characters with at least one uppercase,one lowercase,and one number."|xlt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="alert alert-danger">
                    {# it looks nicer just to have the text be in the input but screen-readers won't display placeholder text reliably #}
                    <h6 class="font-weight-bold"><i class="fa fa-triangle-exclamation"></i> {{ 'Enter your current password to authorize these changes'|xlt }}</h6>
                    {# Note we don't via JS validate the current password just in case security requirements have changed #}
                    <input class="form-control" name="pass_current" id="pass_current" type="password" required
                           placeholder="{{ 'Current password'|xla }}"
                           title="{{ 'Enter your existing current password used to login.'|xla }}" />
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <input class="btn btn-primary" type="submit" name="submit" value="{{ 'Save'|xla }}" />
            </div>
        </div>
        <div class="row no-gutters">
            <details class="col-12 alert alert-info">
                <summary class="h5 text-center"><span class="btn-link">{{ "Help"|xlt }}</span> <i class="fa fa-info-circle fa"></i></summary>
                <div class="container-fluid">
                    <div clas="row">
                        <div class="col-12">
                            <p>{{ 'Use this form to change your login Password, Username or Both.'|xlt }}</p>
                            <p>{{ 'For example, to change your current Password, enter and use your current Username and enter new Password. You must still confirm Password and Username regardless.'|xlt }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ "For additional questions you can contact your healthcare support staff."|xlt }}
                            {{ "The following fields can be used to help your support staff locate your account."|xlt }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 col-12">
                            <strong>{{ 'Portal Account ID for reference'|xlt }}</strong>
                        </div>
                        <div class="col-md-8 col-12">
                            <input class="form-control" name="uname" id="uname" type="text" readonly
                                   value="{{ auth.portal_username|attr }}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <strong>{{ 'Patient Identifier'|xlt }} (pid)</strong>
                        </div>
                        <div class="col-md-8 col-12">
                            <input class="form-control" name="pid" id="pid" type="text" readonly
                                   value="{{ pid|attr }}" />
                        </div>
                    </div>
                </div>
            </details>
        </div>
    </form>
</div><!-- container -->
</body>
</html>
