<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Change Portal Credentials'|xlt }}</title>
    {{ setupHeader(['no_main-theme', 'portal-theme', 'opener']) }}
    <script>
        function checkUserName() {
            let vacct = document.getElementById('uname').value;
            let vsuname = document.getElementById('login_uname').value;
            let validation = validateUsername();
            // no point in hitting the server if we don't have a valid username
            if (!validation.isValid) {
                return false;
            }
            let data = {
                'action': 'userIsUnique',
                'account': vacct,
                'loginUname': vsuname
            };
            $.ajax({
                type: 'GET',
                url: './account.php',
                data: data
            }).done(function (rtn) {
                if (rtn === '1') {
                    return true;
                }
                alert({{ 'Username is unavailable. Try again!'|xlj }});
                return false;
            });
        }

        function validateUsername() {
            let newUsername = document.getElementById('login_uname').value;
            let existingUsername = {{ auth.portal_login_username|js_escape }};
            let confirmUsername = document.getElementById('confirm_uname').value;
            let validation = {
                usernameMatch: true
                ,usernameChanged: false
                ,validUsername: true
                ,isValid: true
            };
            if (existingUsername != newUsername) {
                validation.usernameChanged = true;
            }
            if (existingUsername != newUsername
                && newUsername != confirmUsername) {
                validation.usernameMatch = false;
                validation.isValid = false;
            }
            if (newUsername == "") {
                validation.validUsername = false;
                validation.isValid = false;
            }
            return validation;
        }

        function process_new_pass() {
            let newUsername = document.getElementById('login_uname').value;
            let existingUsername = {{ auth.portal_login_username|js_escape }};
            let confirmUsername = document.getElementById('confirm_uname').value;
            // has to be changed, can't be empty
            let validationUsername = validateUsername();
            if (!validationUsername.usernameMatch) {
                alert({{ 'The Username fields are not the same.'|xlj }});
                return false;
            }
            if (!validationUsername.validUsername) {
                alert({{ 'The Username must not be empty.'|xlj }});
                return false;
            }

            // if empty string... not changing passwords
            let newPass = document.getElementById('pass_new').value;
            let newPassConfirm = document.getElementById('pass_new_confirm').value;
            let currentPassConfirm = document.getElementById('pass_current').value;
            if (newPass != newPassConfirm) {
                alert({{ 'The new password fields are not the same.'|xlj }});
                return false;
            }
            if (currentPassConfirm == "") {
                alert({{"You must enter your current Account Password to authorize these changes to your Account Credentials"|xlj }});
                return false;
            }

            if (currentPassConfirm == newPassConfirm) {
                if (!confirm({{ 'The new password is the same as the current password. Click Okay to accept anyway.'|xlj }})) {
                    return false;
                }
            }

            if (newPass == "" && !validationUsername.usernameChanged) {
                alert({{ 'Nothing was changed.'|xlj }});
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container-fluid">
    {% if isSubmit and isSaved %}
    <script>
        setTimeout(function() {
            dlgclose();
        }, 3000);
    </script>
    <div class="alert alert-success">
        <p>{{ "Account Credentials Successfully Updated"|xlt }}</p>
        <p>{{ "This dialog window will close automatically in a few seconds"|xlt }}</p>
    </div>
    {% else %}
    <form action="" method="POST" onsubmit="return process_new_pass()">
        <input class="d-none" type="text" name="dummyuname" />
        <input class="d-none" type="password" name="dummypassword" />
        {{ csrfToken("portal_index_reset", "csrf_token_form") }}

        {% if isSubmit and not isSaved %}
        <div class="row no-gutters mb-2">
            <div class="col-12">
                <div class="alert alert-danger">
                    {% if errMsg is not empty %}
                        {{ errMsg|text }}
                    {% else %}
                        {{ "A system error occured - try again or contact your healthcare support staff"|xlt }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row no-gutters mb-2">
            <div class="col-12 card">
                <div class="card-header">
                    <h5 class="text-center">{{ "Account Username"|xlt }} <i class="fa fa-info-circle text-info" title="{{ "Your username is case sensitive"|xla }}"></i></h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Change Username'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="login_uname" id="login_uname" type="text" onblur="checkUserName()"
                                   title="{{ 'Enter a minimum of 8 characters. Recommended to include symbols and numbers but not required.'|xla }}" pattern=".{8,}"
                                   value="{{ auth.portal_login_username|attr }}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Confirm Username'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="confirm_uname" id="confirm_uname" type="text"
                                   title="{{ 'You must confirm this Username.'|xla }}"
                                   autocomplete="none" pattern=".{8,80}" value="" onblur="checkUserName()" />
                        </div>
                        <div class="col-12 col-md-9 offset-md-3 font-italic">
                            {{ "Enter a minimum of 8 characters. Recommended to include symbols and numbers but not required."|xlt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 card">
                <div class="card-header">
                    <h5 class="text-center">{{ "Account Password"|xlt }}  <i class="fa fa-info-circle text-info" title="{{ "Your password is case sensitive"|xla }}"></i></h5>
                </div>
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Change Password'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="pass_new" id="pass_new" type="password"
                                   placeholder=""
                                   title="{{ 'Password must be at least 8 characters with at least one uppercase,one lowercase,and one number.'|xla }}"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <strong>{{ 'Confirm Password'|xlt }}</strong>
                        </div>
                        <div class="col-md-9 col-12">
                            <input class="form-control" name="pass_new_confirm" id="pass_new_confirm" type="password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="none" />
                        </div>
                        <div class="col-12 col-md-9 offset-md-3 font-italic">
                            {{ "Password must be at least 8 characters with at least one uppercase,one lowercase,and one number."|xlt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="alert alert-danger">
                    {# it looks nicer just to have the text be in the input but screen-readers won't display placeholder text reliably #}
                    <h6 class="font-weight-bold"><i class="fa fa-triangle-exclamation"></i> {{ 'Enter your current Account Password to authorize these changes'|xlt }}</h6>
                    {# Note we don't via JS validate the current password just in case security requirements have changed #}
                    <input class="form-control" name="pass_current" id="pass_current" type="password"
                           placeholder="{{ 'Current password'|xla }}"
                           title="{{ 'Enter your current Account Password used to login.'|xla }}" />
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <input class="btn btn-primary" type="submit" name="submit" value="{{ 'Save'|xla }}" />
            </div>
        </div>
        <div class="row no-gutters">
            <details class="col-12 alert alert-info">
                <summary class="h5 text-center"><span class="btn-link">{{ "Help"|xlt }}</span> <i class="fa fa-info-circle fa"></i></summary>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ 'Use this form to change your Account Username, Account Password, or both.'|xlt }}</p>
                            <p>{{ 'You can change your current Account Password by entering a new Account Password and then entering the same Account Password into the Confirm Password field'|xlt }}</p>
                            <p>{{ 'You can change your current Account Username by entering a new Account Username and then entering the same Account Username into the Confirm Username field'|xlt }}</p>
                            <p>{{ 'Any change to your Account Username or Account Password requires you to enter in your current Account Password into the Confirm Current Password field.'|xlt }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <p>
                                {{ "For additional help or questions you can contact your healthcare support staff."|xlt }}
                            </p>
                            <p>
                                {{ "The following fields can be used to help your support staff locate your account."|xlt }}
                            </p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 col-12">
                            <strong>{{ 'Portal Account ID for reference'|xlt }}</strong>
                        </div>
                        <div class="col-md-8 col-12">
                            <input class="form-control" name="uname" id="uname" type="text" readonly
                                   value="{{ auth.portal_username|attr }}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <strong>{{ 'Patient Identifier'|xlt }} (pid)</strong>
                        </div>
                        <div class="col-md-8 col-12">
                            <input class="form-control" name="pid" id="pid" type="text" readonly
                                   value="{{ pid|attr }}" />
                        </div>
                    </div>
                </div>
            </details>
        </div>
    </form>
</div><!-- container -->
{% endif %}
</body>
</html>
