<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Change Portal Credentials'|xlt }}</title>
    {{ setupHeader(['no_main-theme', 'portal-theme', 'opener']) }}
    {% if isSubmit %}
        <script>dlgclose();</script>
    {% endif %}
    <script>
        function checkUserName() {
            let vacct = document.getElementById('uname').value;
            let vsuname = document.getElementById('login_uname').value;
            let data = {
                'action': 'userIsUnique',
                'account': vacct,
                'loginUname': vsuname
            };
            $.ajax({
                type: 'GET',
                url: './account.php',
                data: data
            }).done(function (rtn) {
                if (rtn === '1') {
                    return true;
                }
                alert({{ 'Log In Name is unavailable. Try again!'|xlj }});
                return false;
            });
        }

        function process_new_pass() {
            if (document.getElementById('login_uname').value != document.getElementById('confirm_uname').value) {
                alert({{ 'The Username fields are not the same.'|xlj }});
                return false;
            }
            if (document.getElementById('pass_new').value != document.getElementById('pass_new_confirm').value) {
                alert({{ 'The new password fields are not the same.'|xlj }});
                return false;
            }
            if (document.getElementById('pass_current').value == document.getElementById('pass_new_confirm').value) {
                if (!confirm({{ 'The new password is the same as the current password. Click Okay to accept anyway.'|xlj }})) {
                    return false;
                }
            }
            return true;
        }
    </script>
    <style>
        .table > tbody > tr > td {
            border-top: 0px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form action="" method="POST" onsubmit="return process_new_pass()">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    <p>{{ 'Use this form to change your login Password, Username or Both.'|xlt }}</p>
                    <p>{{ 'For example, to change your current Password, enter and use your current Username and enter new Password. You must still confirm Password and Username regardless.'|xlt }}</p>
                </div>
                <input class="d-none" type="text" name="dummyuname" />
                <input class="d-none" type="password" name="dummypassword" />
                {{ csrfToken("portal_index_reset", "csrf_token_form") }}
            </div>
        </div>
        <table class="table table-sm" style="border-bottom:0px;width:100%">
            <tr>
                <td width="35%"><strong>{{ 'Portal Account ID for reference'|xlt }}</strong></td>
                <td><input class="form-control" name="uname" id="uname" type="text" readonly
                           value="{{ auth.portal_username|attr }}" /></td>
            </tr>
            <tr>
                <td><strong>{{ 'Change or Keep Existing Username'|xlt }}</strong></td>
                <td><input class="form-control" name="login_uname" id="login_uname" type="text" required onblur="checkUserName()"
                           title="{{ 'Change or keep current. Enter a minimum of 8 characters. Recommended to include symbols and numbers but not required.'|xla }}" pattern=".{8,}"
                           value="{{ auth.portal_login_username|attr }}" />
                </td>
            </tr>
            <tr>
            <tr>
                <td><strong>{{ 'Confirm Above Username'|xlt }}</strong></td>
                <td><input class="form-control" name="confirm_uname" id="confirm_uname" type="text" required
                           title="{{ 'You must confirm this Username.'|xla }}"
                           autocomplete="none" pattern=".{8,80}" value="" />
                </td>
            </tr>
            </tr>
            <tr>
                <td><strong>{{ 'Current Password to Authorize Changes'|xlt }}</strong></td>
                <td>
                    <input class="form-control" name="pass_current" id="pass_current" type="password" required
                           placeholder="{{ 'Enter your current password used to login.'|xla }}"
                           title="{{ 'Enter your existing current password used to login.'|xla }}"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                </td>
            </tr>
            <tr>
                <td><strong>{{ 'Change or Keep Existing Password'|xlt }}</strong></td>
                <td>
                    <input class="form-control" name="pass_new" id="pass_new" type="password" required
                           placeholder="{{ 'Minimum length is 8 with upper,lowercase,numbers mix'|xla }}"
                           title="{{ 'You must enter a new or reenter current password to keep it. Even for Username change.'|xla }}"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                </td>
            </tr>
            <tr>
                <td><strong>{{ 'Confirm Password'|xlt }}</strong></td>
                <td>
                    <input class="form-control" name="pass_new_confirm" id="pass_new_confirm" type="password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="none" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><br /><input class="btn btn-primary float-right" type="submit" name="submit" value="{{ 'Save'|xla }}" /></td>
            </tr>
        </table>
        <div><strong>{{ '* ' ~ 'All credential fields are case sensitive!'|xlt }}</strong></div>
    </form>
</div><!-- container -->
</body>
</html>
