{{ pageHeading }}

{% if isDeceased %}
<div class="card d-flex w-100 my-3 bg-info text-white p-2">
    <div class="card-body p-0 font-weight-bold">
        {{ deceasedDays|text }}
    </div>
</div>
{% endif %}

{% if portalAuthorized == false %}
<div class="card d-flex my-3 bg-info text-white p-2">
    <div class="card-body p-0">
        <i class="fa fa-exclamation-circle pr-2"></i>{{ "Patient has not authorized the Patient Portal"|xlt }}
    </div>
</div>
{% endif %}

<div class="form-group">
    <div class="btn-group" role="group">
        {% if isAdmin == true and allowPatientDelete == true %}
            <a class="btn btn-secondary btn-sm btn-delete deleter delete"
                href="{{ urlWebRoot|attr }}/interface/patient_file/deleter.php?patient={{ pid|attr_url }}&csrf_token_form={{ csrf|attr_url }}"
                onclick='return top.restoreSession()'>{{ "Delete"|xlt }}</a>
        {% endif %}
        {% if erxEnable %}
            <a href="{{ urlWebRoot|attr }}/interface/eRx.php?page=medentry" class="btn btn-secondary btn-sm btn-add erx" onclick="top.restoreSession();">{{ "NewCrop MedEntry"|xlt }}</a>
            <a href="{{ urlWebRoot|attr }}/interface/soap_functions/soap_accountStatusDetails.php" onclick="top.restoreSession()" class="btn btn-secondary btn-sm btn save iframe1">{{ "NewCrop Account Status"|xlt }}</a>
        {% endif %}
        {% if portalAuthorized != false %}
            {% if portalAuthorized.created == true %}
                {% set class = "btn-redo" %}
                {% set text = "Reset Portal Credentials"|xlt %}
            {% else %}
                {% set class = "btn-save" %}
                {% set text = "Create Portal Credentials"|xlt %}
            {% endif %}
            <a href="{{ portalLoginHref|attr }}?patient={{ pid|attr_url }}" class="btn btn-secondary btn-sm small_modal {{ class|attr }}">{{ text|text }}</a>
        {% endif %}


        {% if erxEnable %}
            <div id="accountstatus"></div>
        {% endif %}
    </div>

</div>
