{% extends "interface/smart/admin-client/external-cdr.html.twig" %}
{% block title %}{{ "External CDR List"|xlt }}{% endblock %}
{% block cdrContents %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                {{ 'Edit'|xlt }}
            </th>
            <th>{{ 'Service Name / Service ID'|xlt }}</th>
            <th>{{ 'Enabled'|xlt }}</th>
            <th>{{ 'Service Type'|xlt }}</th>
            <th>{{ 'SMART App Client'|xlt }}</th>

        </tr>
        </thead>
        <tbody>
        {% if services|length <= 0 %}
        <tr>
            <td colspan="7">{{ 'There are no services registered in the system'|xlt }}</td>
        </tr>
        {% endif %}
        {% for service in services %}
        <tr>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ editUrl|attr }}" onclick="top.restoreSession()">{{ "Edit"|xlt }}</a>
            </td>
            <td>
                {{ service.client.name|text }}
                <br />
                <em>{{ service.client.identifier|text }}</em>
            </td>
            <td>{{ service.client.isEnabled() ? "Enabled"|xlt : "Disabled"|xlt }}</td>
            {# TODO: @adunsulag need to switch this to be service type, evidence / vs predictive DSI #}
            <td>{{ service.type == 'evidence-based' ? "Evidence Based DSI"|xlt : "Predictive DSI"|xlt }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ clientEdit|attr }}" onclick="top.restoreSession()">{{ "View SMART APP"|xlt }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
