
{% extends "interface/smart/admin-client/token-tools.html.twig.html.twig" %}
{% block toolContents %}
<div class="alert alert-info">
    {{"JWT not found in system"|text }}
</div>
<form method="POST" action="{{ actionUrl|attr_url}}">
    {% include "interface/smart/admin-client/partials/textarea.html.twig" with {key: 'token', 'setting': tokenSettings} %}
    <input type="submit" class="btn btn-sm btn-primary" value="{{ "Parse Token"|xla }}" />

    {% if databaseRecord %}
    <hr />
    <h3>{{ "Token details"|xlt }}
        {% if databaseRecord.revoked == 0 %}
        <a href="{{ parts.revoke_link|attr }}" class="btn btn-sm btn-primary float-right" onclick="top.restoreSession()">
            {{ 'Revoke Token'|xlt }}
        </a>
        {% endif %}
    </h3>
    <ul>
        <li>{{ "Token JTI(DB token value)" }}: {{ parts.jti }}</li>
        <li>{{ "Token DB Id" }}: {{ databaseRecord.id }}</li>
        <li>{{ "Token Status" }}: {{ parts.status }}</li>
        <li>{{ "Token Type" }}: {{ parts.token_type }}</li>
        <li>{{ "Token Expiration" }}: {{ databaseRecord.expiry }}</li>
        <li>{{ "User UUID" }}:
            <a href="{{ parts.user_link|attr_url }}">
                {{ databaseRecord.user_id }}
            </a>
        </li>
    </ul>
    <pre>{{ encodedParts|text }}</pre>
    <?php
        }}
{% endblock %}
