{#
HTML rendering Patient Finder called by dynamic_finder.php

@author    Rod Roark <rod@sunsetsystems.com>
@author    David Eschelbacher <psoas@tampabay.rr.com>
@copyright Copyright (c) 2012-2016 Rod Roark <rod@sunsetsystems.com>
@copyright Copyright (c) 2025 David Eschelbacher <psoas@tampabay.rr.com>
@license   https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}

<body>
    <div id="container_div" class="{{ oeContainer|attr }} mt-3">
         <div class="w-100">
            <div>
                <div id="header" class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center flex-grow-1">
                        <ul class="nav nav-tabs mb-0" id="finderTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="listTab" data-toggle="tab" data-target="#list" type="button" role="tab" aria-controls="list" aria-selected="true">{{ "Patient List"|xlt }}</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="recentTab" data-toggle="tab" data-target="#recent" type="button" role="tab" aria-controls="recent" aria-selected="true">{{ "Recent Patients"|xlt }}</button>
                            </li>
                        </ul>
                        <!-- Length selector will be inserted here dynamically -->
                    </div>

                    {# Far right section with Add Patient button and search elements #}
                    <div class="d-flex align-items-center" id="header-right">
                    

                        {# Search elements moved to far right #}
                        <div id="search-elements" class="d-flex align-items-center">
                            <div id="custom-search" class="me-1">
                                <label class="mb-0 d-flex align-items-center">
                                    {{ "Search"|xlt }}:
                                    <div class="input-group input-group-sm ms-2" style="width: 180px;">
                                        <input type="search" class="form-control" placeholder="All" aria-controls="pt_table" style="border-right: none;">
                                        <div class="input-group-append">
                                            <button type="button" class="btn-select-search btn btn-outline-secondary" 
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                                                style="border-left: none; background: white;">
                                                <i class="fas fa-search" style="font-size: 0.875rem; color: white;"></i>
                                                <i class="fas fa-chevron-down ms-1" style="color: white; font-size: 0.7rem;"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" onclick="document.querySelector('#custom-search input').placeholder='Search All';">{{ "Search ALL"|xlt }}</a>
                                                <a class="dropdown-item" href="#" onclick="document.querySelector('#custom-search input').placeholder='Search Name';">{{ "Search Name"|xlt }}</a>
                                                <a class="dropdown-item" href="#">Search ZIP</a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                           </div>
                                        </div>
                                    </div>   
                                </label>
                          </div>  
                        </div>
                               
                        {% if acl_addpatient %}
                            <button id='create_patient_btn' class='btn btn-primary'
                                onclick='top.restoreSession(); top.RTop.location="{{ webroot }}/interface/new/new.php";'>
                                    {{ "Add Patient"|xlt }}
                            </button>
                        {% endif %}

                        {# OemrUI buttons positioned right after tabs #}
                        <div id="oemr-ui-buttons" class="d-flex align-items-center">
                            <a href="#" id="expand_icon" class="expand_icon {{ expand_class }}" title="{{ expand_title }}">
                                <i class="fas {{ expand_icon }}" aria-hidden="true"></i>
                            </a>
                            <a href="#" id="search_icon" title="{{ 'Click to show search'|xlt }}">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="tab-content" id="finderTabs">
                    <div class="tab-pane show active" id="list" role="tabpanel" aria-labelledby="listTab">
                        <div id="dynamic"><!-- TBD: id seems unused, is this div required? -->
                            <!-- Class "display" is defined in demo_table.css -->
                            <div class="table-responsive">
                                <table class="table border-0 display" id="pt_table">
                                    <thead class="">
                                        <tr id="pt_table_header_search_boxes" class="hideaway">
                                            {{ table_header_search_boxes }}  
                                        </tr>
                                        <tr id="pt_table_header_labels" class="header-labels bg-primary text-light d-none">
                                            {{ table_header_labels }}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- Class "dataTables_empty" is defined in jquery.dataTables.css -->
                                            <td class="dataTables_empty" colspan="{{ colcount|attr }}">...</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr><td id="footer-top" class="border-top-0 px-1" colspan="{{ colcount|attr }}">
                                            <form name='myform'>
                                                <div class='form-check form-check-inline'>
                                                    <label id='form_new_window_label' class='form-check-label' for='form_new_window'>
                                                        <input type='checkbox' class='form-check-input' id='form_new_window' name='form_new_window' value='1' {{ checked }} />{{ "Open in New Window"|xlt }}
                                                    </label>    
                                            </div>
                                                <div class='form-check form-check-inline'>
                                                    <label for='setting-search-exact' id='setting-search-exact_label' class='form-check-label'>
                                                        <input type='checkbox' name='setting-search-exact' class='form-check-input' id='setting-search-exact' onchange='persistCriteria(this, event)' value='1' {% if patient_finder_exact_search %}checked{% endif %}/>{{ "Search with exact method"|xlt }}
                                                    </label>
                                                </div>
                                            </form>
                                        </td></tr>
                                        <tr><td id="footer-bottom" class="border-top-0 pt-0 px-1" colspan="{{ colcount|attr }}">
                                        </td></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="recent" role="tabpanel" aria-labelledby="recentTab">
                        {% if rp|length > 0 %}
                        <div class="table mt-2">
                            <table class="w-100">
                                <thead class="thead-light">
                                    <tr>
                                        {% for h in headers %}
                                            <th scope="col">{{ h.title|xlListLabel }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in rp %}
                                        <tr class="clickable-row" style="cursor:pointer;" data-pid="{{ p.pid|attr }}">
                                            {% for h in headers %}
                                                {% set value = p[h.option_id] %}
                                                <td>
                                                    {% if loop.first %}
                                                        <a href="#">{{ value|text }}</a>
                                                    {% else %}
                                                        {{ value|text }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                           </table>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center bg-light p-5">{{ "No recent patients"|xlt }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- form used to open a new top level window when a patient row is clicked -->
        <form name='fnew' method='post' target='_blank' action='../main_screen.php?auth=login&site={{ session.site_id|attr_url }}'>
            {{ csrfToken('', 'csrf_token_form') }}
            <input type='hidden' name='patientID' value='0'/>
        </form>
    </div> <!--End of Container div-->

    <template class="template_patient_detail">
        <tr class='noHover'>
            <td colspan='7'>
                <div class='patient_detail_container'>
                </div>
            </td>
        </tr>
    </template>

    <script>

    $(window).on("resize", function() { //portrait vs landscape
        $("#pt_table").removeAttr("style");
    });

    $(function() {
        $("#exp_cont_icon").click(function () {
            $("#pt_table").removeAttr("style");});
        $("#custom-search").addClass("d-md-initial");
        $("#pt_table_length").addClass("d-md-initial");
        $("#show_hide").addClass("d-md-initial");
        $("#search_hide").addClass("d-md-initial");
        $("#pt_table_length").addClass("d-none");
        $("#show_hide").addClass("d-none");
        $("#search_hide").addClass("d-none");
        $('div#custom-search input').focus();

    });


    let elements = document.querySelectorAll("[data-pid]");

    function ptLinkClick(e)
    {
        let pid = this.getAttribute('data-pid');
        top.RTop.location = "{{ webroot }}/interface/patient_file/summary/demographics.php?set_pid=" + encodeURIComponent(pid);
    }

    Array.from(elements).forEach(function(elem) {
        elem.addEventListener('click', ptLinkClick);
    });

    document.addEventListener('touchstart', {});
    </script>

   
</body>