<div class="card-header">
    <div class="row">
        <div class="col">
            {{ "Current Third Party Invitation"|xlt }}
        </div>
    </div>
</div>
<div class="card-body patient-thirdparty" data-pid="{{ patient.pid }}">
    <div class="row">
        <div class="col-md-2 telehealth-user-icon h1">
            <i class="fa fa-user"></i>
        </div>
        <div class="col-md-10 p-l-0">
            <h5 class="text-primary patient-name">{{ patient.fname|text }} {{ patient.mname|text }} {{ patient.lname|text }}</h5>
            <h6 class="text-secondary patient-dob">{{ "DOB"|xlt }}: {{ patient.DOB|text}}</h6>
            <h6 class="text-secondary patient-email">{{ "EMAIL"|xlt }}: {{ patient.email|text}}</h6>
        </div>
    </div>
</div>