<p><strong>{{ "3rd Party API Access"|xlt }}</strong></p>
<p><strong>{{ "API Access Address"|xlt }}: </strong><a href="{{ fhir_address|attr }}">{{ fhir_address|text }}</a></p>
<p><strong>{{ "Technical Requirements Documentation"|xlt }}: </strong><a href='{{ fhir_requirements_address|attr }}' rel='noopener' target='_blank'>{{ fhir_requirements_address|text }}</a></p>
<p>{{ "You can use the above API Address with any app of your choice to access your patient data as long as it meets the technical requirements for our service."|xlt }}</p>