{##
 * Prescription edit
 *
 * @package   OpenEMR
 * @link      http://www.open-emr.org
 * @author    Brady Miller <brady.g.miller@gmail.com>
 * @copyright Copyright (c) 2017-2018 Brady Miller <brady.g.miller@gmail.com>
 * @license   https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
<!DOCTYPE html>
<html>
<head>
    {{ setupHeader(['datetime-picker','datetime-picker-translated', 'select2']) }}
<script>


    function my_process_lookup(drug, rxcode = '') {
      // Pass the variable
      let newOption = new Option(drug, drug, true, true);
      $("#rxnorm_drugcode").val(rxcode);
      $('#drug').append(newOption).trigger('change');
      $('#hiddendiv').hide();
      $("#hiddendiv").html( "&nbsp;" );
    }

</script>
<!---Gen Look up-->

<script>

 // This holds all the default drug attributes.
 // This was html escaped previously

 var drugopts = [{% if DRUG_ATTRIBUTES is not empty %}{{DRUG_ATTRIBUTES}}{% endif %}];


 // Helper to choose an option from its value.
 function selchoose(sel, value) {
     // if the form field is a hidden field and not a select option
     // we need to set the default value.
     if (!sel.options) {
         sel.value = value;
         return;
     }
    var o = sel.options;

    for (let i = 0; i < o.length; ++i) {
        o[i].selected = (o[i].value == value);
    }
 }

 // Fill in default values when a drop-down drug is selected.
 function drugselected(sel) {
  var f = document.forms[0];
  var i = f.drug_id.selectedIndex - 1;
  if (i >= 0) {
   var d = drugopts[i];
   var newOption = new Option(d[0], d[0], true, true);
   $('#drug').append(newOption).trigger('change');
   selchoose(f.form, d[1]);
   f.dosage.value = d[2];
   f.size.value = d[3];
   f.rxnorm_drugcode.value = d[11];
   selchoose(f.unit, d[4]);
   selchoose(f.route, d[5]);
   selchoose(f.interval, d[6]);
   selchoose(f.substitute, d[7]);
   f.quantity.value = d[8];
   // some fields are not there if dispense is not enabled.
   if (f.disp_quantity) {
       f.disp_quantity.value = d[8];
   }
   selchoose(f.refills, d[9]);
   f.per_refill.value = d[10];
  }
 }

 function quantityChanged() {
  var f = document.forms[0];
  f.per_refill.value = f.quantity.value;
  if (f.disp_quantity) {
   f.disp_quantity.value = f.quantity.value;
  }
 }

</script>

</head>
<body id="prescription_edit">
<div class="container">
    <form name="prescribe" id="prescribe"  method="post" action="{{ webroot }}/controller.php?prescription&edit&id={{ prescription.id|attr_url }}&pid={{ prescription.patient.id|attr_url }}" >
        <table class="prescription-controls">
            <tr>
                <td class="title font-weight-bold">{{"Add"|xlt}}&nbsp;</td>
                <td>
                    {% if topActionBarDisplay %}
                    <a id="save" href=# onclick="submitfun();" class="btn btn-primary btn-sm btn-save">{{'Save'|xlt}}</a>
                    {% elseif bottomActionBarDisplay %}
                        {# We want the back button to show up on top if the settings are to show the bottom action bar #}
                        <a id="back" class='btn btn-secondary btn-sm btn-back' href="controller.php?prescription&list&id={{prescription.patient.id|attr_url}}">{{'Back'|xlt}}</a>
                    {% endif %}
                    {% if dispenseEnabled %}
                        <input type="button" name="toggle_dispense" class='btn btn-secondary btn-toggle-dispense btn-sm my-0 mr-1 ml-1' value="{{'Dispense Prescription'|xla}}" />
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    {% endif %}
                    {% if topActionBarDisplay %}
                        <a id="back" class='btn btn-secondary btn-sm btn-back' href="controller.php?prescription&list&id={{prescription.patient.id|attr_url}}">{{'Back'|xlt}}</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        {% if enable_amc_prompting %}
        <div class='float-right border mr-5 amc-card'>
            <div class='float-left m-1'>
            {% if amcCollectReturnFlag is not empty %}
                <input type="checkbox" id="escribe_flag" name="escribe_flag" />
            {% else %}
                <input type="checkbox" id="escribe_flag" name="escribe_flag" checked="checked" />
            {% endif %}
            <span class="text">{{'E-Prescription?'|xlt}}</span><br />

            {% if amcCollectReturnFormulary is not empty %}
                <input type="checkbox" id="checked_formulary_flag" name="checked_formulary_flag" />
            {% else %}
                <input type="checkbox" id="checked_formulary_flag" name="checked_formulary_flag" checked="checked" />
            {% endif %}
            <span class="text">{{'Checked Drug Formulary?'|xlt}}</span><br />

            {% if amcCollectReturnControlledSubstances is not empty %}
                <input type="checkbox" id="controlled_substance_flag" name="controlled_substance_flag" />
            {% else %}
                <input type="checkbox" id="controlled_substance_flag" name="controlled_substance_flag" checked="checked" />
            {% endif %}
            <span class="text">{{'Controlled Substance?'|xlt}}</span><br />
            </div>
        </div>
        {% endif %}

        {% if dispenseEnabled %}
            {% include "prescription/_dispense_drug.html.twig" %}
        {% endif %}
        <div class="form-group mt-3">
            <label>{{'Currently Active'|xlt}}</label>
            <input class="input-sm" type="checkbox" name="active" value="1"{% if prescription.get_active() > 0 %} checked{% endif %} />
        </div>

        <div class="form-group mt-3">
            <label>{{'Starting Date'|xlt}}</label>
            <input type="text" size="10" class="datepicker form-control" name="start_date" id="start_date" value="{{prescription.start_date|shortDate|attr}}" />
        </div>
        <div class="form-group mt-3">
            <label>{{'Provider'|xlt}}</label>
            <select class="input sm form-control" name="provider_id">
                {% for providerId, providerName in prescription.provider.utility_provider_array() %}
                    <option value="{{ providerId|attr }}" {% if providerId == prescription.provider.get_id() %} selected="selected" {% endif %}>{{ providerName|text }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="patient_id" value="{{prescription.patient.id|attr}}" />
        </div>
        <div class="form-group mt-3">
            <label class="mr-2">{{'Drug'|xlt}}</label>
            <div class="form-check-inline">
                <label class="form-check-label" title="{{'Search from native inventory drugs table'|xlt}}">
                    <input type="radio" class="form-check-input" name="rxcui_select" checked />{{'Use Default'|xlt}}
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" title="{{'Search from external RxNorm table. Vocabulary RXNORM'|xlt}}">
                    <input type="radio" class="form-check-input" name="rxcui_select" {%if RXNORMS_AVAILABLE is empty %} disabled{% else %} checked{% endif %} />{{'Use RxNorm'|xlt}}
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" title="{{'Search from native loaded RxCUI table.'|xlt}}">
                    <input type="radio" class="form-check-input" name="rxcui_select" {% if RXCUI_AVAILABLE is empty %}disabled{% else %} checked{% endif %}  />{{'Use RxCUI'|xlt}}
                </label>
            </div>
            <select class="input-sm form-control" type="input" name="drug" id="drug"></select>
            <a href="javascript:;" id="druglookup" class="small" name="B4" onclick="$('#hiddendiv').show(); document.getElementById('hiddendiv').innerHTML='&lt;iframe src=&quot;controller.php?prescription&amp;lookup&amp;drug=&quot; width=&quot;100%&quot;height=&quot;75&quot; scrolling=&quot;no&quot; frameborder=&quot;no&quot;&gt;&lt;/iframe&gt;'">
                ({{'Search Web API'|xlt}})
            </a>
            <div class="jumbotron jumbotron-fluid" id="hiddendiv" style="display: none">&nbsp;</div>
        </div>
        {% if DRUG_ARRAY_VALUES is not empty %}
        <div class="form-group mt-3">
            <label>&nbsp; {{'in-house'|xlt}}</label>
            <select class="input-sm form-control" name="drug_id" onchange="drugselected(this)">
                {% for key,drug in DRUG_ARRAY_VALUES %}
                    <option value="{{ drug|attr }}"
                        {% if drug == prescription.get_drug_id() %} selected="selected" {% endif %}>{{ DRUG_ARRAY_OUTPUT[key]|text }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="rxnorm_drugcode" value="{{prescription.rxnorm_drugcode|attr}}">
        </div>
        {% endif %}
        <div class="form-group mt-3">
            <label>{{'Quantity'|xlt}}</label>
            <input class="input-sm form-control" type="text" name="quantity" id="quantity" size="10" maxlength="31"
                value="{{prescription.quantity|attr}}" onchange="quantityChanged()" />
        </div>

        <div class="form-group row mt-3 {% if SIMPLIFIED_PRESCRIPTIONS and not prescription.size %}d-none{% endif %}">
            <div class="col-12">
                <label>{{'Medicine Units'|xlt}}</label>
            </div>
            <div class="col">
                <input class="input-sm form-control" type="text" name="size" id="size" size="11" maxlength="10" value="{{prescription.size|attr}}"/>
            </div>
            <div class="col">
                <select class="input-sm form-control" name="unit" id="unit">
                    {% for value,label in prescription.unit_array %}
                    <option value="{{ value|attr }}" {% if prescription.unit == value %} selected="selected" {% endif %}>
                        {{ label|text }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <label>{{'Directions'|xlt}}</label>
            </div>
            {% if SIMPLIFIED_PRESCRIPTIONS and not prescription.form and not prescription.route and not prescription.interval %}
                <input class="input-sm form-control" type="text" name="dosage" id="dosage" size="30" maxlength="100" value="{{prescription.dosage|attr}}" />
                <input type="hidden" name="form" id="form" value="0" />
                <input type="hidden" name="route" id="route" value="0" />
                <input type="hidden" name="interval" id="interval" value="0" />
            {% else %}
                <div class="col">
                    <input class="input-sm form-control" type="text" name="dosage" id="dosage" size="2" maxlength="10" value="{{prescription.dosage|attr}}"/>
                </div>
                <div class="col">
                    {{ 'in'|xlt}}
                </div>
                <div class="col">
                    <select class="input-sm form-control" name="form" id="form">
                        {% for value,label in prescription.form_array %}
                            <option value="{{ value|attr }}" {% if prescription.form == value %} selected="selected" {% endif %}>
                                {{ label|text }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="input-sm form-control" name="route" id="route">
                        {% for value,label in prescription.route_array %}
                            <option value="{{ value|attr }}" {% if prescription.route == value %} selected="selected" {% endif %}>
                                {{ label|text }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="input-sm form-control" name="interval" id="interval">
                        {% for value,label in prescription.interval_array %}
                            <option value="{{ value|attr }}" {% if prescription.interval == value %} selected="selected" {% endif %}>
                                {{ label|text }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <label>{{'Refills'|xlt}}</label>
            </div>
            <div class="col">
                <select name="refills" class="form-control">
                    {% for value,label in prescription.refills_array %}
                        <option value="{{ value|attr }}" {% if prescription.refills == value %} selected="selected" {% endif %}>
                            {{ label|text }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% if SIMPLIFIED_PRESCRIPTIONS %}
                <input type="hidden" id="per_refill" name="per_refill" value="{{prescription.per_refill|attr}}" />
            {% else %}
                <div class="col">
                    &nbsp; &nbsp; # {{ 'of tablets'|xlt}}:
                </div>
                <div class="col">
                    <input class="input-sm form-control" type="text" id="per_refill" name="per_refill" size="2" maxlength="9" value="{{prescription.per_refill|attr}}" />
                </div>
            {% endif %}
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <label>{{'Encounter'|xlt}}</label>
            </div>
            <div class="col-12">
                {{ encounterSelectList('encounter', prescription.patient.id, defaultEncounterId, 'Select Encounter'|xl, {empty_name:'Select Encounter'|xl}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12" id='row_selected_codes'>
                <label for="form_selected_codes" class="col-form-label">{{ 'Coding'|xlt }}:</label>
                <select name='diagnosis[]' id='form_selected_codes' class= "form-control" multiple size='4'>
                    {% for code in diagnosisCodes %}
                    <option value='{{ code.value|attr }}' {% if code.selected %}selected="selected"{% endif %}>{{ code.text|text}}</option>
                    {% endfor %}
                </select>
                <input type="button" value="{{ "Add New Code"|xla }}" class="btn btn-secondary btn-sm mb-2 btn-add-code" />
                <p class="mb-0">{{ "To link this encounter/consult to an existing issue, click the desired issue above to highlight it and then click [Save]. Hold down [Ctrl] button to select multiple issues."|xlt }}</p>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <label>{{'Medication Usage'|xlt}}</label>
            </div>
            <div class="col-12">
                {{ selectList('usage_category', 'medication-usage-category', prescription.usage_category, 'Medication Request Intent'|xl, {empty_title: 'SKIP'}) }}
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <label>{{'Medication Request Intent'|xlt}}</label>
            </div>
            <div class="col-12">
                {{ selectList('request_intent', 'medication-request-intent', prescription.request_intent, 'Medication Request Intent'|xl) }}
            </div>
        </div>
        <div class="form-group mt-3">
            <label>{{'Notes'|xlt}}</label>
            <textarea class="form-control" name="note" cols="30" rows="1" wrap="virtual">{{prescription.note|text}}</textarea>
        </div>
        <div class="form-group row mt-3">
            {% if WEIGHT_LOSS_CLINIC %}
                <label>{{'Substitution'|xlt}}</label>
                <select name="substitute" class="form-control">
                    {% for value,label in prescription.substitute_array %}
                        <option value="{{ value|attr }}" {% if prescription.substitute == value %} selected="selected" {% endif %}>
                            {{ label|text }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                <div class="col-12">
                    <label>{{'Add to Medication List'|xlt}}</label>
                </div>
                <div class="col">
                    {% for value,label in prescription.medication_array %}
                        <input class="input-sm"
                               type="radio" name="medication" value="{{ value|attr }}"
                            {% if prescription.medication == value %} checked="checked" {% endif %}> {{ label|text }}
                    {% endfor %}
                </div>
                <div class="col">
                    <select name="substitute" class="input-sm form-control">
                        {% for value,label in prescription.substitute_array %}
                            <option value="{{ value|attr }}" {% if prescription.substitute == value %} selected="selected" {% endif %}>
                                {{ label|text }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        {% if bottomActionBarDisplay %}
            <div class="row">
                <div class="col-12 justify-content-end">
                    <a id="save" href=# onclick="submitfun();" class="btn btn-primary btn-sm btn-save mr-3">{{'Save'|xlt}}</a>
                    <a id="back" class='btn btn-secondary btn-sm btn-back' href="controller.php?prescription&list&id={{prescription.patient.id|attr_url}}">{{'Back'|xlt}}</a>
                </div>
            </div>
        {% endif %}

        <input type="hidden" name="id" value="{{prescription.id|attr}}" />
        <input type="hidden" name="process" value="{{PROCESS|attr}}" />
        <input type="hidden" id="rxnorm_drugcode" name="rxnorm_drugcode" value="{{prescription.rxnorm_drugcode|attr}}" />

        <script>
            {# TODO: @adunsulag Why in the world do we have just raw injection of javascript here... #}
            {% if ENDING_JAVASCRIPT is not empty %}{{ ENDING_JAVASCRIPT }}{% endif %}
        </script>
    </form>
</div>

<!-- for the fancy jQuery stuff -->
<script>
    {% if dispenseEnabled %}

    // Invoke the popup to dispense a drug.
    function dispense() {
        var f = document.forms[0];
        // do some basic validation
        if (f.disp_quantity.value == "" || isNaN(f.disp_quantity.value) || parseInt(f.disp_quantity.value) <= 0) {
            alert({{'Please enter a valid dispense quantity'|xlj}});
            f.disp_quantity.focus();
            return false;
        }
        if (f.dispense_encounter_id.value == "" || isNaN(f.dispense_encounter_id.value) || parseInt(f.dispense_encounter_id.value) <= 0) {
            alert({{'Dispensing a drug requires a linked encounter'|xlj}});
            f.dispense_encounter_id.focus();
            return false;
        }
        let drugId = parseInt(f.dispense_drug_id.value || 0);
        if (isNaN(drugId)) {
            alert({{ 'System error occurred. Try again later or contact customer support'|xlj }});
            console.error('Invalid drug id for dispensation: ' + f.dispense_drug_id.value);
            return false;
        }
        let promise = dlgopen('interface/drugs/dispense_drug.php' +
            '?drug_id=' + encodeURIComponent(drugId) +
            '&prescription=' + encodeURIComponent(f.id.value) +
            '&quantity=' + encodeURIComponent(f.disp_quantity.value) +
            '&fee=' + encodeURIComponent(f.disp_fee.value) +
            '&encounter=' + encodeURIComponent(f.dispense_encounter_id.value),
            '_blank', 400, 200, false, {{ "Dispense Drug"|xlj }}, {
                // when the dispense dialog closes, we'll toggle the dispense options off
                // onClosed: toggleDispense
                'resolvePromiseOn': 'close'
            });
        promise.then(function() {
            toggleDispense();
        });
    }
    function toggleDispense() {
        $('.dispense_option,.prescription-controls .btn-primary,.amc-card').toggle();
        $('.btn.btn-toggle-dispense').toggle();
    }
    $(document).ready(function(){
        $(".btn.btn-toggle-dispense").click(function(){
            toggleDispense();
        });
        $('.btn-presc-dispense').click(function(evt) {
            evt.preventDefault();
            dispense();
            return false;
        });
    });
    {% endif %}

function submitfun() {
    top.restoreSession();
    if (CheckForErrors(this)) {
        document.forms["prescribe"].submit();
    }
    else {
        return false;
    }
}

function iframetopardiv(string){
    var name=string
    document.getElementById('drug').value=name;
    $("#hiddendiv").html( "&nbsp;" );
    $('#hiddendiv').hide();
}

function cancelParlookup () {
    $('#hiddendiv').hide();
    $("#hiddendiv").html( "&nbsp;" );
}

$(function () {

    $("#save,#back").on("click",function(){
        $("#clearButton",window.parent.document).css("display", "none");
        $("#backButton",window.parent.document).css("display", "none");
        $("#addButton",window.parent.document).css("display", "");
    });
    $(".btn-add-code").on("click", function() {
        onAddCode();
    });


    {% if weno_rx_enable %}

        $("#drug").select2({
        ajax: {
            url: "library/ajax/drug_autocomplete/search.php",
            dataType: 'json',
            data: function(params) {
                return {
                  csrf_token_form: {{ CSRF_TOKEN_FORM|js_escape }},
                  term: params.term

                };
            },
            processResults: function(data) {
                return  {
                    results: $.map(data, function(item, index) {
                      return {
                            text: item,
                            id: index,
                            value: item
                        }
                    })
                };
                return x;
            },
            cache: true,
            minimumInputLength: 3
            }
          });
    {% else %}

        $("#drug").select2({
        ajax: {
            url: "library/ajax/prescription_drugname_lookup.php",
            dataType: 'json',
            data: function(params) {
                return {
                  csrf_token_form: {{ CSRF_TOKEN_FORM|js_escape }},

                  term: params.term,
                  use_rxnorm: document.prescribe.rxcui_select[1].checked,
                  use_rxcui: document.prescribe.rxcui_select[2].checked
                }
            },
            processResults: function(data) {
                return  {
                    results: $.map(data, function(item, index) {
                        return {
                            text: item['display_name'],
                            id: item['id_name'],
                            value: item['display_name']
                        }
                    })
                };
                return x;
            },
            cache: true
            },
            tags: true,
            minimumInputLength: 3
          });
    {% endif %}
    {% if prescription.drug %}

        // Show the current drug name in the select
        var newOption = new Option({{prescription.drug|js_escape}}, {{prescription.drug|js_escape}}, true, true);
        $('#drug').append(newOption).trigger('change');
    {% endif %}


    $("#drug").focus();
    $("#prescribe").submit(function() { return CheckForErrors(this) });
});

// check the form for required fields before submitting
var CheckForErrors = function(eObj) {
    // REQUIRED FIELDS
    if (CheckRequired('drug') == false) { return false; }
    if (CheckRequired('quantity') == false) { return false; }
    //if (CheckRequired('unit') == false) { return false; }
    //if (CheckRequired('size') == false) { return false; }
    if (CheckRequired('dosage') == false) { return false; }
    //if (CheckRequired('form') == false) { return false; }
    //if (CheckRequired('route') == false) { return false; }
    //if (CheckRequired('interval') == false) { return false; }

    return top.restoreSession();
};

function CheckRequired(objID) {

    // for text boxes
    if ($('#'+objID).is('input')) {
        if ($('#'+objID).val() == "") {
            alert({{'Missing a required field and will be highlighted'|xlj}});
            $('#'+objID).css("backgroundColor", "pink");
            return false;
        }
    }

    // for select boxes
    if ($('#'+objID).is('select')) {
        if ($('#'+objID).val() == "0") {
            alert({{'Missing a required field'|xlj}});
            $('#'+objID).css("backgroundColor", "pink");
            return false;
        }
    }

    return true;
}

    $(document).on('select2:select', 'select#drug', function(e) {
        let idx = this.selectedIndex;
        if (idx === 0) {
            // already selected.
            return false;
        }
        let optionText = document.getElementById("drug").options[idx].text;
        let rxcode = (optionText.split('(RxCUI:').pop().split(')')[0]).trim();
        $("#rxnorm_drugcode").val(rxcode);
    });

$(function () {
    datetimepickerTranslated('.datepicker', {
        timepicker: false
        , showSeconds: false
        , formatInput: true
    });
});
function onAddCode() {
    dlgopen('{{ addCodeUrl }}', '_blank', 985, 800, '', {{"Select Codes"|xlj }});
}

// This is for callback by the select codes popup.
// Appends to or erases the current list of diagnoses.
function OnCodeSelected(codetype, code, selector, codedesc) {
    var codeKey = codetype + ':' + code
    let option = document.createElement('option');
    option.value = codeKey; // escaped via DOM
    option.textContent = codeKey + ' (' + codedesc + ')'; // escaped via DOM
    let select = document.getElementById('form_selected_codes');
    if (!select) {
        console.error("Could not find selected codes element");
    }
    select.appendChild(option);
}
</script>



</body>
</html>
