<option value="01">{{'January' | xlt }}</option>
<option value="02">{{'February' | xlt}}</option>
<option value="03">{{'March' | xlt}}</option>
<option value="04">{{'April' | xlt}}</option>
<option value="05">{{'May' | xlt}}</option>
<option value="06">{{'June' | xlt}}</option>
<option value="07">{{'July' | xlt}}</option>
<option value="08">{{'August' | xlt}}</option>
<option value="09">{{'September' | xlt}}</option>
<option value="10">{{'October' | xlt}}</option>
<option value="11">{{'November' | xlt}}</option>
<option value="12">{{'December' | xlt}}</option>
