<tr>
    <td colspan="8" class="text-left p-3">
        <div class="card">
            <div class="card-header bg-{{ cardClass|attr }}">
                <h6>{{ title|text }}</h6>
            </div>
            <div class="card-body">
                {% if patients|length %}

                <table>
                    <thead>
                    <tr>
                        <th class="amc-demographic-label">{{ "Name"|xlt }}</th>
                        <th class="amc-demographic-label">{{ "Sex"|xlt }}</th>
                        <th class="amc-demographic-label">{{ "DOB"|xlt }}</th>
                        {% for label in patients.actionLabels %}
                        <th class="amc-action-label">{{ label|text }}</th>
                        {% endfor %}
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for patientDetails in patients.itemizedPatients %}
                            <tr>
                                <td class="amc-demographic-label">{{ patientDetails.patient.fname|text }} {{ patientDetails.patient.lname|text}}</td>
                                <td class="amc-demographic-label">{{ patientDetails.patient.sex|text }}</td>
                                <td class="amc-demographic-label">{{ patientDetails.patient.DOB|text }}</td>
                                {% if patientDetails.actions|length %}
                                    {%  for action in patientDetails.actions %}
                                    <td class="amc-action-label">
                                        <strong>{% if action.value %}{{ "Yes"|xlt }}{% else %}{{ "No"|xlt }}{% endif %}</strong>
                                        {% if action.details != "" %} - <span>{{ action.details|text }}</span>{% endif %}
                                    </td>
                                    {% endfor %}
                                {% endif %}
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    {{ "No patient records found"|xlt }}
                {% endif %}
            </div>
        </div>
    </td>
</tr>