<div id="report_results">
    <table class="table text-center">
        <thead class='thead-light'>
        <tr>
            <th>
                {{ 'Title'|xlt }}
            </th>
            <th>
                {{ 'Total Patients'|xlt }}
            </th>
            <th>
                {{ 'Denominator'|xlt }}
            </th>
            <th>
                {{ 'Numerator'|xlt }}
            </th>
            <th>
                {{ 'Failed'|xlt }}
            </th>
            <th>
                {{ 'Performance Percentage'|xlt }}
            </th>
        </tr>
        </thead>
        {% include 'reports/cqm/_results-table-body.html.twig' with {datasheet: datasheet, columns:6,report_id:report_id,display_excluded:false, display_exception:false} %}
    </table>
</div>
