{% extends "patient/card/card_base.html.twig" %}

{% block content %}

<div class="list-group list-group-flush">
{% if list|length == 0 %}
    {% if listTouched == true %}
        <div class="list-group-item p-0 pl-1">
            {{ "No Known Allergies"|xlt }}
        </div>
    {% else %}
    <div class="list-group-item p-0 pl-1">
        {{ "Nothing Recorded"|xlt }}
    </div>
    {% endif %}
{% else %}
    {% for l in list %}
        {% set classes = (l.severity_al == "severe") ? 'bg-danger text-light font-weight-bold' : '' %}
        <div class="list-group-item p-1 {{ classes|attr }}">
            <div class="d-flex w-100 justify-content-between">
                <div class="flex-fill">
                    {{ l.title|text }}&nbsp;({{ l.reaction_title|text }})
                </div>
                <div class="text-right">{{ l.severity_al|text }}</div>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
