{% extends "patient/card/card_base.html.twig" %}

{% block content %}

<div class="list-group list-group-flush">
{% if list|length == 0 %}
    {% if listTouched == true %}
        <div class="list-group-item p-0 pl-1">
            {{ "None{{Issues}}"|xlt }}
        </div>
    {% else %}
    <div class="list-group-item p-0 pl-1">
        {{ "Nothing Recorded"|xlt }}
    </div>
    {% endif %}
{% else %}
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>{{ "Dosage"|xlt }}</th>
                        <th>{{ "Details"|xlt }}</th>
                    </tr>
                </thead>
                <tbody>
    {% for l in list %}
        {% if l.critical is defined %}
            {% set classes = "bg-danger text-light font-weight-bold" %}
        {% endif %}
                        <tr>
                            <td class="{{ classes|attr }}">{{ l.title|text }}</td>
                            <td class="{{ classes|attr }}">{{ l.drug_dosage_instructions|text }}</td>
                        </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
{% endif %}
</div>
{% endblock %}
