<select name="{{ field.name }}" id="{{ field.name }}" class="form-control {{ field.classes|default("") }}" {{ field.multi|default("") }}>
    {% for key, value in field.options %}
        {% set selected = "" %}
        {% if (key == field.value) or (key in field.value) %}
            {% set selected = 'selected="selected"' %}
        {% endif %}
        <option value="{{ value|e('html_attr') }}" {{ ((key == field.value) or (key in field.value)) ? "selected='selected'" : "" }}>{{ value|e('html') }}</option>
    {% endfor %}
</select>
