<input type="{{ field.type|default("text") }}" class="form-control {{ field.classes }}" name="{{ field.name }}" id="{{ field.name }}" maxlength="{{ field.maxlength|default("255") }}" value="{{ field.value|e('html_attr') }}">
{% if field.type == "color_code" %}
<button class="btn btn-primary color-code-button" data-field="{{ field.name }}" data-default-color="{{ field.definition|e('html_attr') }}">{{ "Default"|translate }}</button>
{% endif %}
