{#
Twig template to list users.

@TODO Figure out how to docblock twig templates

@TODO The usergroup_admin_php script has not yet been converted to twig/bootstrap
(full) and because of that we're doing a dynamic load of that content into a
bootstrap modal. Eventually this could be abstracted into a twig snippet RD 2017-06-03

@package OpenEMR
@subpackage Usergroup
@author Robert Down <robertdown@live.com>
@copyright Copyright (c) 2017 Robert Down
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% extends "global/snippet/navbar.html.twig" %}

{% block header %}
{{ setupHeader('common') }}
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * Use the data-content element to load remote content into a modal.
         */
        $(".modal").on("show.bs.modal", function(e) {
            var modal = $(this);
            var triggeringElement = $(e.relatedTarget);
            var content = triggeringElement.data("content");
            var body = modal.find(".modal-body");
            body.load(content);
        });

        /**
         * Capture every click of a link and fire restoreSession unless
         * data-session="false" is set on the element
         */
        $("a").on("click", function(e) {
            if ($(this).data('session') === false) {
                return;
            }
            top.restoreSession();
        });

        $("#inactive").on("change", function(e) {
            top.restoreSession();
            $(this).parents("form").submit();
        });
    });

    function authorized_clicked() {
        var f = document.forms[0];
        f.calendar.disabled = !f.authorized.checked;
        f.calendar.checked  =  f.authorized.checked;
    }

    {% if alertmsg %}
    alert({{ alertmsg|e('js') }});
    {% endif %}
</script>
{% endblock header %}

{% block nav_menu %}
<ul class="nav navbar-nav">
    <li>
        <a href="#" data-content="usergroup_admin_add.php" data-toggle="modal" data-target="#modal-add-facility" class="text-center">
            <i class="fa fa-plus fa-lg" style="display:block"></i>
            {{ 'Add User'|translate }}
        </a>
    </li>
    <li>
        <a href="#" data-content="facility_user.php" class="text-center">
            <i class="fa fa-eye fa-lg" style="display:block"></i>
            {{ 'Facility Specific'|translate }}
        </a>
    </li>
</ul>

{% endblock nav_menu %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if activeMsg == true %}
            <div class="alert alert-danger">
                {{ 'Emergency Login ACL is chosen. The user is still in active state, please de-activate the user and activate the same when required during emergency situations. Visit Administration->Users for activation or de-activation'|translate }}.
            </div>
            {% endif %}
            {% if showMessage == true %}
            <div class="alert alert-danger">{{ "The following Emergency Login User is activated:"|translate }} {{ fname }}</div>
            <div class="alert alert-danger">{{ "Emergency Login activation email will be circulated only if following settings in the interface/globals.php file are configured"|translate }}: {{ global.emergency_login_email }}, {{ global.emergency_login_email_id }}</div>
            {% endif %}

            <form action="usergroup_admin.php">
                <div class="checkbox pull-right">
                    <label class="navbar-link" for="inactive">
                        <input type="checkbox" id="inactive" name="inactive" value="1" {% if form_inactive %}checked{% endif %}>
                        {{ "Include inactive Users"|translate }}
                    </label>
                </div>
            </form>

            <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Username'|translate }}</th>
                    <th>{{ 'Real Name'|translate }}</th>
                    <th>{{ 'Additional Info'|translate }}</th>
                    <th>{{ 'Authorized'|translate }}</th>
                </tr>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="user_admin.php?id={{ user.id|e('url') }}">{{ user.username }}</a></td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.info }}</td>
                    <td>{{ user.authorized }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% if global.disable_non_default_groups == false %}
            {# Display groups here
            <a class='link_submit' href='usergroup_admin.php?mode=delete_group&id=" .
                        $iter{"id"} . "' onclick='top.restoreSession()'>Remove</a>)
                        foreach ($grouplist as $groupname => $list) {
            print "<span class='bold'>" . $groupname . "</span><br>\n<span>" .
                            substr($list,0,strlen($list)-2) . "</span><br>\n";
            }
            }
            #}
            {% endif %}
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-add-facility">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">{{ "Add New User"|translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-spin fa-circle-o-notch fa-4x"></i>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
