<!DOCTYPE html>
<html>
<head>
    <title>{{ 'User / Group'|translate }}</title>
    {{ setupHeader('common') }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#modal-add-facility").on('show.bs.modal', function(e) {
                e.preventDefault();
            })
        });

        function authorized_clicked() {
            var f = document.forms[0];
            f.calendar.disabled = !f.authorized.checked;
            f.calendar.checked  =  f.authorized.checked;
        }
    </script>
</head>
<body class="body_top">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title">
                <h1>{{ 'User / Group'|translate }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <a href="usergroup_admin_add.php" data-toggle="modal" data-target="#modal-add-facility" class="btn btn-default btn-add">{{ 'Add User'|translate }}</a>
                <a href="facility_user.php" class="btn btn-default btn-view">{{ 'View Facility Specific User Information'|translate }}</a>
            </div>
            <form name='userlist' method='post' class="form-inline pull-right" action='usergroup_admin.php' onsubmit='return top.restoreSession()'>
                <div class="checkbox">
                    <label for="form_inactive">
                        <input type='checkbox' class="form-control" id="form_inactive" name='form_inactive' value='1' onclick='submit()' {% if form_inactive %}checked{% endif %}>
                        {{ 'Include inactive users'|translate }}
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <?php
            if ($set_active_msg == 1) {
                echo "<div class='alert alert-danger'>".xl('Emergency Login ACL is chosen. The user is still in active state, please de-activate the user and activate the same when required during emergency situations. Visit Administration->Users for activation or de-activation.')."</div><br>";
        }
        if ($show_message == 1) {
        echo "<div class='alert alert-danger'>".xl('The following Emergency Login User is activated:')." "."<b>".$_GET['fname']."</b>"."</div><br>";
        echo "<div class='alert alert-danger'>".xl('Emergency Login activation email will be circulated only if following settings in the interface/globals.php file are configured:')." \$GLOBALS['Emergency_Login_email'], \$GLOBALS['Emergency_Login_email_id']</div>";
        }

        ?>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'Username'|translate }}</th>
                <th>{{ 'Real Name'|translate }}</th>
                <th>{{ 'Additional Info'|translate }}</th>
                <th>{{ 'Authorized'|translate }}</th>
            </tr>
            <tbody>
            <?php
                    $query = "SELECT * FROM users WHERE username != '' ";
                    if (!$form_inactive) $query .= "AND active = '1' ";
                    $query .= "ORDER BY username";
                    $res = sqlStatement($query);
                    for ($iter = 0;$row = sqlFetchArray($res);$iter++)
                        $result4[$iter] = $row;
                    foreach ($result4 as $iter) {
                        if ($iter{"authorized"}) {
                            $iter{"authorized"} = xl('yes');
                        } else {
                            $iter{"authorized"} = "";
                        }
                        print "<tr>
            <td><b><a href='user_admin.php?id=" . $iter{"id"} .
                            "' class='iframe_medium' onclick='top.restoreSession()'>" . $iter{"username"} . "</a></b>" ."&nbsp;</td>
            <td>" . attr($iter{"fname"}) . ' ' . attr($iter{"lname"}) ."&nbsp;</td>
            <td>" . attr($iter{"info"}) . "&nbsp;</td>
            <td align='left'><span>" .$iter{"authorized"} . "&nbsp;</td>";
            print "<td><!--<a href='usergroup_admin.php?mode=delete&id=" . $iter{"id"} .
                            "' class='link_submit'>[Delete]</a>--></td>";
            print "</tr>\n";
            }
            ?>
            </tbody>
        </table>
        <?php
            if (empty($GLOBALS['disable_non_default_groups'])) {
                $res = sqlStatement("select * from groups order by name");
                for ($iter = 0;$row = sqlFetchArray($res);$iter++)
                    $result5[$iter] = $row;

                foreach ($result5 as $iter) {
                    $grouplist{$iter{"name"}} .= $iter{"user"} .
                        "(<a class='link_submit' href='usergroup_admin.php?mode=delete_group&id=" .
                        $iter{"id"} . "' onclick='top.restoreSession()'>Remove</a>), ";
        }

        foreach ($grouplist as $groupname => $list) {
        print "<span class='bold'>" . $groupname . "</span><br>\n<span>" .
                        substr($list,0,strlen($list)-2) . "</span><br>\n";
        }
        }
        ?>
    </div>
</div>
</div>
<script type="text/javascript">
    {% if alertmsg %}
    alert({{ alertmsg }});
    {% endif %}
</script>
</body>
</html>
