<html>
<head>
    <title>{% block title %}{{ "Insurance Edit"|xlt }}{% endblock %}</title>
    {{ setupHeader(['datetime-picker','common','select2', 'erx', 'select2-translated']) }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block scripts %}
    {% endblock %}
</head>
<body class="body_top">
{% block preContent %}{% endblock %}
{% block content %}
    {# generateFormField({'data_type': state_data_type, 'field_id': 'subscriber_employer_state'
                        , 'list_id': state_list, 'fld_length': '15', max_length: '63', smallform: 'true'} #}
{% set dataTypeSelectList = 1 %}
{% set dataTypeText = 2 %}

{# Note that date fields are handled in javascript because we are building a template instead of handling it all via php  #}
{# Note that empty_title: 'SKIP' is a hack in the function to skip a title... terrible but is the existing code unfortunately in generate_form_field. #}
{% set fields = {
    left: [{
        name: "Plan Name"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "plan_name"
        ,fld_length: 20
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
    }
    ,{
        name: "Effective Date"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "date"
        ,fld_length: 16
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "datepicker mb-1"
    },{
        name: "Effective Date End"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "date_end"
        ,fld_length: 16
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "datepicker mb-1"
    }, {
        name: "Policy Number"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "policy_number"
        ,fld_length: 16
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-policykeyup mb-1"
    }, {
        name: "Group Number"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "group_number"
        ,fld_length: 16
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-policykeyup mb-1"
    },{
        name: "Subscriber Employer (SE)"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer"
        ,fld_length: 25
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers
        ,description: 'if unemployed enter Student'|xl ~','~'PT Student, or leave blank'|xl
    },{
        name: "SE Address"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer_street"
        ,fld_length: 25
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers
    },{
        name: "SE Address Line 2"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer_street_line_2"
        ,fld_length: 25
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers
    },{
        name: "SE City"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer_city"
        ,fld_length: 15
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers
    },{
        name: "SE State"|xl
        ,required: true
        ,data_type: state_data_type
        ,field_id: "subscriber_employer_state"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: state_list
        ,skip: include_employers and useStateTerminology
    }, {
        name: "SE Locality"|xl
        ,required: true
        ,data_type: state_data_type
        ,field_id: "subscriber_employer_state"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: state_list
        ,skip: include_employers and not useStateTerminology
    }, {
        name: "SE Zip Code"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer_postal_code"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers and useStateTerminology
    }, {
        name: "SE Postal Code"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_employer_postal_code"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: include_employers and not useStateTerminology
    }, {
        name: "SE Country"|xl
        ,required: true
        ,data_type: country_data_type
        ,field_id: "subscriber_employer_country"
        ,fld_length: 10
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: country_list
        ,skip: include_employers
    }]
    ,right: [{
        name: "Subscriber"|xl
        ,required: true
        ,compound: [{
            data_type: dataTypeText
            ,field_id: "subscriber_fname"
            ,fld_length: 10
            ,max_length: 60
            ,smallform: 'true'
            ,classNames: "js-capitalize-me mb-1"
        }, {
            data_type: dataTypeText
            ,field_id: "subscriber_mname"
            ,fld_length: 10
            ,max_length: 60
            ,smallform: 'true'
            ,classNames: "js-capitalize-me mb-1"
        }, {
            data_type: dataTypeText
            ,field_id: "subscriber_lname"
            ,fld_length: 10
            ,max_length: 60
            ,smallform: 'true'
            ,classNames: "js-capitalize-me mb-1"
        }]
    }, {
        name: "D.O.B."|xl
        ,data_type: dataTypeText
        ,field_id: "subscriber_DOB"
        ,fld_length: 11
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "datepicker mb-1"
    }, {
        name: "Sex"|xl
        ,data_type: dataTypeSelectList
        ,field_id: "subscriber_sex"
        ,list_id: 'sex'
        ,smallform: 'true'
        ,classNames: "mb-1"
    }, {
        name: "S.S."|xl
        ,data_type: dataTypeText
        ,field_id: "subscriber_ss"
        ,fld_length: 11
        ,smallform: 'true'
        ,classNames: "mb-1"
    }, {
        name: "Subscriber Address"|xl
        ,data_type: dataTypeText
        ,field_id: "subscriber_street"
        ,fld_length: 20
        ,smallform: 'true'
        ,classNames: "mb-1 js-capitalize-me"
        ,required: true
    }, {
        name: "Address Line 2"|xl
        ,data_type: dataTypeText
        ,field_id: "subscriber_street_line_2"
        ,fld_length: 20
        ,smallform: 'true'
        ,classNames: "mb-1 js-capitalize-me"
        ,required: true
    },{
        name: "City"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_city"
        ,fld_length: 15
        ,max_length: 60
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
    },{
        name: "State"|xl
        ,required: true
        ,data_type: state_data_type
        ,field_id: "subscriber_state"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: state_list
        ,skip: useStateTerminology
    }, {
        name: "Locality"|xl
        ,required: true
        ,data_type: state_data_type
        ,field_id: "subscriber_state"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: state_list
        ,skip: not useStateTerminology
    }, {
        name: "Zip Code"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_postal_code"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: useStateTerminology
    }, {
        name: "Postal Code"|xl
        ,required: true
        ,data_type: dataTypeText
        ,field_id: "subscriber_postal_code"
        ,fld_length: 15
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,skip: not useStateTerminology
    }, {
        name: "Country"|xl
        ,required: true
        ,data_type: country_data_type
        ,field_id: "subscriber_country"
        ,fld_length: 10
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "js-capitalize-me mb-1"
        ,list_id: country_list
    }, {
        name: "Subsciber Phone"|xl
        ,required: false
        ,data_type: dataTypeText
        ,field_id: "subscriber_phone"
        ,fld_length: 20
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "mb-1"
    }, {
        name: "CoPay"|xl
        ,required: false
        ,data_type: dataTypeText
        ,field_id: "copay"
        ,fld_length: 6
        ,max_length: 63
        ,smallform: 'true'
        ,classNames: "mb-1"
    }, {
        name: "Accept Assignment"|xl
        ,required: true
        ,data_type: dataTypeSelectList
        ,field_id: "accept_assignment"
        ,list_id: 'yesno'
        ,smallform: 'true'
        ,classNames: "mb-1"
        ,empty_title: 'SKIP'
    }]
}
%}
    <div class="container-xl container-loading">
        <div class="alert alert-info">
            <h3>{{ "Loading..."|xlt }} <i class="wait fa fa-cog fa-spin ml-2"></i></h3>
        </div>
    </div>
    <div class="container-xl container-loaded d-none">
        <div class="row">
            <div class="col-12">
                <h2>{{ "Edit Current Insurance"|xlt }}</h2>
            </div>
            <div class="col-12">
                <div class="btn-group text-align-right">
                    <input type="button" class="btn btn-primary btn-add-policy" value="{{ 'Add New Policy'|xlt }}" />
                    <input type="button" class="btn btn-danger d-none btn-edit-return" value="{{ 'Return to Edit Screen'|xlt }}" />
                    <a href="./demographics.php" class="btn btn-secondary"><i class="fa fa-back"></i>{{ 'Back to Patient'|xlt }}</a>
                </div>
                <hr />
            </div>
        </div>
        {# TODO: @adunsulag note that the form with id DEM here has a number of hard-coded styles which is where the insurance form gets its layout from. look at changing this. #}
        <form id="DEM">
    <div class="section-header">
        <span class="text font-weight-bold">{{ "Insurance"|xlt }}</span>
    </div>
    <div id="new-policy-screen" class="insuranceNewSettingsContainer d-none">
        {# two radio button options, copy from existing policy and create blank policy #}
        {# copy from existing policy should have a select list below it #}
        {#  #}
        <div class="form-row mb-2">
            <div class="col-md-6">
                {# Need to have radio group of the insurance types ie, Primary, secondary, tertiary #}
                <div class="form-row">
                    <div class="col-md-3">
                        <label>{{ "Insurance Type"|xlt }}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="radio-group">
                            {% for instype in insuranceTypes %}
                                <input id="new-insurance-type-{{ instype|attr }}" {% if instype == activeType%}checked="checked"{% endif %} type="radio" name="newInsuranceType" value="{{ instype|attr }}" /><label for="new-insurance-type-{{ instype|attr }}">{{ instype|capitalize|text }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-6 text-align-right">
                <div class="radio-group">
                    <input id="createOptionBlank" checked="checked" type="radio" name="createOption" value="blank" /><label for="createOptionBlank">{{ "Create blank policy"|xlt }}</label>
                    <input id="createOptionCopy" type="radio" name="createOption" value="copy" /><label for="createOptionCopy">{{ "Copy from existing policy"|xlt }}</label>
                </div>
            </div>
        </div>
        <div class="form-row mb-2 d-none new-policy-copy-row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-3">
                        <label>{{ "Policy to copy"|xlt }}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="alert alert-warning new-policy-list-empty d-none">
                            {{ "No policy exists for this insurance type" }}
                        </div>
                        <select class="form-control form-control-sm sel2 mb-1 new-policy-copy-list" class="d-none">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-2 new-policy-set-end-date-row d-none">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-12">
                        <input id="setEndDateCheckbox" type="checkbox" name="setEndDate" class="form-control mb-1" />
                        <label for="setEndDateCheckbox">{{ "Update current insurance with new effective end date" }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-2 new-policy-effective-end-date-row d-none">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-12">
                        <p>{{ "Policy to update:" }} <span class="effective-end-date-policy-label"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-2 new-policy-effective-end-date-row d-none">
            <div class="form-row">
                <div class="col-md-3">
                    <label>{{ "End Date"|xlt }}</label>
                </div>
                <div class="col-md-9">
                    <input type="textbox" name="endDate" class="date-picker new-policy-effective-end-date form-control mb-1" />
                </div>
            </div>
        </div>
        <div class="form-row mb-2 new-policy-error-row d-none">
            <div class="alert alert-danger">
                <p class="new-policy-error-message new-policy-error-message-copy-empty-policy d-none">{{ "There are no policies for this insurance type to copy from"|xlt }}</p>
                <p class="new-policy-error-message new-policy-error-message-effective-end-date-empty d-none">{{ "There are no policies for this insurance type to copy from"|xlt }}</p>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="form-row">
                <div class="col-md-3">
                    <input type="button" class="btn btn-action btn-new-policy-next btn-primary" value="{{ "Next"|xlt }}" />
                </div>
            </div>
        </div>
    </div>
    <div id="edit-policy-screen" class="insuranceEditContainer d-none">
        <ul class="tabNav">
            {% for instype in insuranceTypes %}
                <li class="{% if instype == activeType %}current{% endif %} nav-link-insurance-type-container"><a href="#" class="nav-link-insurance-type" data-type="{{ instype|attr }}">{{ instype|text|capitalize }}</a></li>
            {% endfor %}
        </ul>

        <div class="tabContainer">
            {% for instype in insuranceTypes %}
                {# Need a drop down select with each grouped insurance (by type) #}
                <div data-type="{{ instype|attr }}" class="tab {% if instype == activeType %}current{% endif %} h-auto w-auto">
                    <div class="form-row mb-2"><!-- start nested row -->
                        <div class="col-md-6 text-align-right">
                            <div class="btn-group">
                                <input type="button" value="{{ 'Save Policy'|xla }}" class="btn btn-primary" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-row insurance-type-selector-row-{{ instype|attr }}">
                                <div class="col-md-3 label_custom pb-3">
                                    <span class='required'>{{ "Selected Policy"|xlt }}</span>
                                </div>
                                <div class="col-md-9">
                                    <select id="insurance-type-{{ instype|attr }}" class="form-control form-control-sm sel2 mb-1" data-type="{{ instype|attr }}" class="d-none">
                                    </select>

                                </div>
                            </div>
                            <div class="form-row mb-2 insurance-type-no-policies insurance-type-no-policies-{{ instype|attr }} d-none">
                                <div class="col-12">
                                    <div class="alert alert-info">
                                        <p>{{ "No insurance policies for this insurance type were found."|xlt }}</p>
                                        <p>{{ "You can add a new policy to this patient for this insurance type by filling out the form below and pressing the save button."|xlt }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="insurance-info-type-{{ instype|attr }}">
                        <div class="alert alert-info">
                            <h3>{{ "Loading insurance information."|xlt }} <i class="wait fa fa-cog fa-spin ml-2"></i></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# Insurance Edit Template #}
    <template id="insurance-edit-template">
        <div class="col-md-6"><!-- start left column -->

            <div class="form-row"><!-- start nested row -->
                <div class="col-md-3 label_custom pb-3">
                    <span class='required'>{{ "Provider"|xlt }}</span>
                </div>
                <div class="col-md-9">
                    {# TODO: @adunsulag fix hard coded width here #}
                    <select name="provider" class="form-control form-control-sm sel2 mb-1" style="width: 250px;">
                        <option value="">{{ 'Unassigned'|xlt }}</option>
                    </select>
                    <a class="medium_modal btn btn-primary" href="../../practice/ins_search.php?ins=" role="button">{{ 'Search/Add/Edit'|xlt  }}</a>
                </div>
            </div>
            {% for fieldRow in fields.left %}
                {% if fieldRow.skip is not defined or fieldRow.skip %}
                    <div class="form-row"><!-- start nested row -->
                        <div class="col-md-3 pb-1 label_custom">
                            <span class='{%if fieldRow.required is defined and fieldRow.required %}required{% endif %}'>{{ fieldRow.name|text }}</span>
                        </div>
                        <div class="col-md-9">
                            {{ generateFormField(fieldRow, '') }}
                            {% if fieldRow.description %}
                                <span class='small mb-1'><br />{{ fieldRow.description|text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div><!-- end left column -->
        <div class="col-md-6"><!-- start right column -->

            <div class="form-row"><!-- start nested row -->
                <div class="col-md-3 pb-1 label_custom">
                    <span class='required'>{{ 'Relationship'|xlt }}:</span>
                </div>
                <div class="col-md-9">
                    {{ generateFormField({data_type: 1, field_id: 'subscriber_relationship', 'list_id': 'sub_relation'
                        , 'empty_title': ' ', classNames: 'mb-1', smallform: 'true'}, '') }}
                </div>
                {# TODO: @adunsulag browsenum needs to be looked at with what this field means #}
                <a href="javascript:popUp('browse.php?browsenum=1')" class='text'>({{ "Browse"|xlt }})</a>
            </div>
            {% for fieldRow in fields.right %}
                {% if fieldRow.skip is not defined or fieldRow.skip %}
                    <div class="form-row"><!-- start nested row -->
                        <div class="col-md-3 pb-1 label_custom">
                            <span class='{%if fieldRow.required is defined and fieldRow.required %}required{% endif %}'>{{ fieldRow.name|text }}</span>
                        </div>
                        <div class="col-md-9">
                            {% if fieldRow.compound is defined %}
                                {% for compoundField in fieldRow.compound %}
                                    {{ generateFormField(compoundField, '') }}
                                {% endfor %}
                            {% else %}
                                {{ generateFormField(fieldRow, '') }}
                            {% endif %}
                            {% if fieldRow.description %}
                                <span class='small mb-1'><br />{{ fieldRow.description|text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {# We don't use generate_form_field because there currently isn't a way to generate a select drop down with an already existing static array #}
            <div class="form-row">
                <div class="col-md-3 pb-1 label_custom">
                    <span>{{ 'Secondary Medicare Type'|xlt }}:</span>
                </div>
                <div class="col-md-9">
                    <select class='form-control form-control-sm mb-1 sel2' name='policy_type'>
                        {% for key,value in policy_types %}
                            <option value ={{ key|attr }}>{{ value|text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div><!-- end right column -->
    </template>
    <script type="module">
        // import { InsuranceEditController } from webroot + '/library/js/oeUI/insurance/InsuranceEditController.js';
        // need to hit the server endpoint to grab the patient insurances for the given pid
        // then I need to popualate the twig template with the data
        let csrfToken = {{ csrfTokenRaw('api')|json_encode() }};
        let puuid = {{ puuid|json_encode() }};
        let url = {{ webroot|json_encode() }} + '/apis/' + {{ session.site_id|json_encode() }} + '/api/';
        let types = {{ insuranceTypes|json_encode() }};
        let insuranceProviderList = {{ insuranceProviderList|json_encode() }};

        window.addEventListener("DOMContentLoaded", function() {
            // due to our dynamic nature we need to do a dynamic import of the controller
            {# TODO: @adunsulag check with @brady.miller to find out if there is a need to escape the cache param here due to the global v_include #}
            import({{ webroot|json_encode }} + "/library/js/oeUI/insurance/InsuranceEditMainController.js?v=" + {{ getAssetCacheParamRaw()|json_encode() }})
                .then(result => {
                    /**
                     * @typedef InsuranceEditMainControllerModule
                     * @type {object}
                     * @property {InsuranceEditMainController} InsuranceEditMainController
                     */
                    /**
                     * This is a dynamic module import due to the way we construct our import urls.  We do a custom type definition
                     * so we can get intellisense support.  You can see the type definition above in order to jump to the definition
                     * of the file.
                     * @type {InsuranceEditMainControllerModule}
                     */
                    let moduleResult = result;
                    let insuranceEditController = new result.InsuranceEditMainController(csrfToken, url, insuranceProviderList, types, puuid);
                    insuranceEditController.init();
                })
                .catch(err => {
                    // not much we can do here...
                    // TODO: @adunsulag do we notify the end user the whole system is down?
                    console.log(err);
                });
        });
    </script>
{% endblock %}
{% block postContent %}{% endblock %}
        </form>
    </div>
</body>
</html>
