{#
The Patient Portal card for the Medical Record Dashboard

@author       Robert Down <robertdown@live.com>
@copyright    Copyright (c) 2022 Robert Down <robertdown@live.com>
@package      OpenEMR
#}

{% extends "patient/card/card_base.html.twig" %}

{% if (prependedInjection is defined) or (appendedInjection is defined) %}
    {% import "patient/macros/card.macro.twig" as cardMacros %}
    {% set prepend = cardMacros.injectedContent(prependedInjection) %}
    {% set append = cardMacros.injectedContent(appendedInjection) %}
{% endif %}

{% block content %}
<div class="text pl-1">
    {% if isPortalEnabled == false %}
    <div class="alert alert-warning" role="alert">
            <p class="font-weight-bold">{{  "Portal Status"|xlt }}</p>
            <p> {{ "Patient Portal Not Enabled. Admin Can Enable Patient Portal."|xlt }} </p>
        </div>
    {% endif %} 

    {% if isPortalSiteAddressValid == false %}
    <div class="alert alert-warning" role="alert">
            <p class="font-weight-bold">{{  "Portal Status"|xlt }}</p>
            <p> {{ "Patient Portal Site Address Not Set Properly. Admin Can Correct in Config."|xlt }} </p>
        </div>
    {% endif %}

    {% if isPortalAllowed == false %}
        <div class="alert alert-warning" role="alert">
            <p class="font-weight-bold">{{  "Portal Access"|xlt }}</p>
            <p> {{ "Allow Patient Portal in Demographics Choices."|xlt }} </p>
        </div>
    {% elseif isContactEmail == false and isEnforceSigninEmailPortal == true %}
            <div class="alert alert-warning" role="alert">
                <p class="font-weight-bold">{{  "Email Address"|xlt }}</p>
                <p> {{ "Email is Enforced. Enter an Email in Demographics Contact."|xlt }} </p>
            </div>
    {% elseif isContactEmail == false and isEnforceSigninEmailPortal == false %}
            <div class="alert alert-warning" role="alert">
                <p class="font-weight-bold">{{  "Email Address"|xlt }}</p>
                <p> {{ "Enter an Email in Demographics Contact for Sending Credentials."|xlt }} </p>
            </div>        
    {% elseif isPortalEnabled and isPortalSiteAddressValid %}
    <div class="alert alert-info" role="alert">
        <p class="font-weight-bold">{{ "Documents"|xlt }}</p>
         <button type="button" class="btn btn-link btn-sm w-50" onclick='top.assignPatientDocuments({{pid|attr_js}})'><i class="fa fa-file-signature"></i>&nbsp;{{ "Assign"|xlt }}</button>
        </div>           
    {% endif %}


    {% if isApiAllowed == false %}
        <div class="alert alert-warning" role="alert">
            <p class="font-weight-bold">{{  "API Access"|xlt }}</p>
            <p> {{ "Prevent API Access can be disabled in Demographics Choices."|xlt }} </p>
        </div>
    {% endif %}     

    {% if (
        isPortalAllowed
        and isPortalEnabled
        and isPortalSiteAddressValid
        and (
            isEnforceSigninEmailPortal == false
            or (
                isEnforceSigninEmailPortal
                and isContactEmail
               )
            ) 
        or isApiAllowed == true
        ) %}
        <div class="alert alert-info" role="alert">
        <p class="font-weight-bold">{{ "Credentials"|xlt }}</p>
        {% if areCredentialsCreated == true %}
            {% set class = "fa-key" %}
            {% set text = "Reset"|xlt %}
        {% else %}
            {% set class = "fa-user-plus" %}
            {% set text = "Create"|xlt %}
        {% endif %}
        <a href="{{ portalLoginHref|attr }}?patient={{ pid|attr_url }}" class="btn btn-link btn-sm w-50 small_modal"><i class="fa {{ class|attr }}"></i>&nbsp;{{ text|text }}</a>
        </div>
    {% endif %}
</div>
{% endblock %}
