{% extends "patient/card/card_base.html.twig" %}

{% block content %}
<div class="text d-flex pl-1">
    {% if portalAuthorized == false %}
        {{ "Patient Portal Not Authorized"|xlt }}
    {% else %}
        {% if portalAuthorized.created == true %}
            {% set class = "fa-key" %}
            {% set text = "Reset Credentials"|xlt %}
        {% else %}
            {% set class = "fa-user-plus" %}
            {% set text = "Create Credentials"|xlt %}
        {% endif %}
        <a href="{{ portalLoginHref|attr }}?patient={{ pid|attr_url }}" class="btn btn-link btn-sm w-50 small_modal"><i class="fa {{ class|attr }}"></i>&nbsp;{{ text|text }}</a>
        <button type="button" class="btn btn-link btn-sm w-50" onclick='top.assignPatientDocuments({{pid|attr_js}})'><i class="fa fa-file-signature"></i>&nbsp;{{ "Assign Documents"|xlt }}</button>
    {% endif %}
</div>
{% endblock %}
