<html>
    <body>
        <div class='wrapper'>
            {% if portal_onsite_two_enable is not empty %}
                {{ "Patient Portal Web Address"|xlt }}:<br />
                <a href='{{ portal_onsite_two_address|attr }}' target='_blank'>{{ portal_onsite_two_address|text }}</a>
                <br /><br />
            {% endif %}
            <strong>{{ "Portal Account Name"|xlt }}</strong>: {{ uname }}<br /><br />
            <strong>{{ "Login User Name"|xlt }}:</strong> {{ login_uname|text }}
            <br /><strong>{{ "Password"|xlt }}:</strong>
            {{ pwd|text }}<br /><br />
            {% if enforce_signin_email %}
                <strong>{{ "Login Trusted Email"|xlt  }}</strong>:
                {% if email_direct is not empty %}
                    {{  email_direct|text }}
                {% else %}
                    {{ "Is Required. Contact Provider."|xlt}}
                {% endif %}
            {% endif %}
            <br /><br />
            <strong>{{ "You may be required to change your password during first login."|xlt }}</strong><br />
            {{ "This is required for your security as well as ours."|xlt }}<br />
            {{ "Afterwards however, you may change your portal credentials anytime from portal menu."|xlt }}<br /><br />

            <strong>{{ "3rd Party API Access"|xlt }}</strong><br />
            <strong>{{ "API Access Address"|xlt }}: </strong>{{ fhir_address }}<br />
            <strong>{{ "Technical Requirements Documentation"|xlt }}: </strong><a href='{{ fhir_requirements_address|attr }}' target='_blank'>{{ fhir_requirements_address|text }}</a><br />
            {{ "You can use the above API Address with any app of your choice to access your patient data as long as it meets the technical requirements for our service." }}<br /><br />
            {{ "Thank you for allowing us to serve you."|xlt }}<br />
        </div>
    </body>
</html>