{# Twig
*****************************************************************************
Copyright (C) 2005-2006 Rod Roark <rod@sunsetsystems.com> and others
Copyright (C) 2019 Jerry Padgett <sjpadgett@gmail.com>
Copyright (C) 2022 Stephen Nielson <stephen@nielson.org>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
***************************************************************************** #}
<style>
    /* Additional styling to make provider header compact like the Smarty template */
    .providerheader {
        padding: 2px !important;
        line-height: 1.2 !important;
        height: auto !important;
    }
</style>

{% include ("calendar/" ~ TPL_NAME ~ "/views/header.html.twig") %}

{%  include ("calendar/" ~ TPL_NAME ~ "/views/_common-javascript.html.twig") %}

<div id="wrapper">
    <form name='theform' id='theform' action='index.php?module=PostCalendar&func=view&tplview=default&pc_category=&pc_topic=' method='post' onsubmit='return top.restoreSession()'>
      <input type="hidden" name="viewtype" value="month">
      <input type="hidden" name="Date" value="{{ Date|attr }}">
        <div class="container-fluid sticky-top">
            <div id="topToolbarRight" class="bgcolor2">
                {% include "calendar/" ~ TPL_NAME ~ "/views/_menu-toggle.html.twig" with {IS_TODAY: IS_TODAY, viewtype: viewtype, Date:Date} %}

                <div id="dateNAV">
                    <a id='prevmonth' href='{{ PREV_MONTH_URL }}' onclick='top.restoreSession()' title='{{ "Previous Month"|xla }}'>
                        <i class='fa {{ chevron_icon_left|attr}} chevron_color'></i>
                    </a>
                    {{ Month|date('F Y')|text }}
                    <a id='nextmonth' href='{{ NEXT_MONTH_URL }}' onclick='top.restoreSession()' title='{{ "Next Month"|xla }}'>
                        <i class='fa {{ chevron_icon_right|attr}} chevron_color'></i>
                    </a>
                </div>
                {% include "calendar/" ~ TPL_NAME ~ "/views/_view-picker.html.twig" with {activeView:'month', Date: Date} %}
            </div> <!-- end topToolbarRight -->
        </div>
        <div class="sticky-top">
            {% set DOWCalendar = generateDOWCalendar(Date, DOWlist) %}
            {% include ("calendar/" ~ TPL_NAME ~ "/views/_sidebar-bottom-left.html.twig")
                with {Date: Date, prevMonth: prevMonth, prevMonthFormatted: prevMonthFormatted, nextMonth: nextMonth,
                nextMonthFormatted: nextMonthFormatted, DOWlist: DOWlist, DOWCalendar: DOWCalendar, caldateFormatted: caldateFormatted,
                A_SHORT_DAY_NAMES: A_SHORT_DAY_NAMES, facilitySelectorList: facilitySelectorList, providerSelectorList: providerSelectorList, pc_facility: pc_facility, facilities: facilities} %}
        </div>

        <div class="page-content-wrapper">
            <div class="container-fluid calsearch_body">
                <div id="bigCal">
                    {# Set variables for provider display #}
                    {% set displayProviders = true %}
                    {% set providerName = "" %}
                    {% set hasSelectedProvider = false %}
                    
                    {# Check if any provider is specifically selected #}
                    {% if provinfo is defined and provinfo is not empty %}
                        {% set selectedProvider = null %}
                        
                        {# First pass: look for explicitly selected provider #}
                        {% for provider in provinfo %}
                            {% if provider.selected == true %}
                                {% set selectedProvider = provider %}
                            {% endif %}
                        {% endfor %}
                        
                        {# If a provider was selected, use their name #}
                        {% if selectedProvider is not null %}
                            {% set providerName = selectedProvider.lname ~ ', ' ~ selectedProvider.fname %}
                            {% set hasSelectedProvider = true %}
                        {# If no provider is selected, default to the currently logged-in provider #}
                        {% else %}
                            {% set currentUserProvider = null %}
                            {% for provider in provinfo %}
                                {% if provider.id == authUserID|default %}
                                    {% set currentUserProvider = provider %}
                                {% endif %}
                            {% endfor %}
                            
                            {% if currentUserProvider is not null %}
                                {% set providerName = currentUserProvider.lname ~ ', ' ~ currentUserProvider.fname %}
                                {% set hasSelectedProvider = true %}
                            {% endif %}
                        {% endif %}
                        
                        {# If still no provider selected, show "All Providers" #}
                        {% if not hasSelectedProvider %}
                            {% set providerName = "All Providers"|xl %}
                        {% endif %}
                    {% else %}
                        {% set providerName = "All Providers"|xl %}
                    {% endif %}
                
                    {# Table with the month calendar #}
                    <div class="table-responsive">
                        <table class='table table-sm table-bordered'>
                            <thead>
                                <tr>
                                    {% if displayProviders|default %}
                                        <th colspan="7" class="providerheader">
                                            {% if providerName|default is not empty %}
                                                {{ providerName|text }}
                                            {% else %}
                                                {{ "All Providers"|xlt }}
                                            {% endif %}
                                        </th>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% for dow in DOWlist %}
                                        <td class="tdDOW-small text-center">{{ A_SHORT_DAY_NAMES[dow]|text }}</td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% set starttime = Month|date('Y-m-01') %}
                                {% set enddate = Month|date('Y-m-t') %}
                                {% set endtime = enddate|date('U') %}
                                
                                {# Calculate start date for the calendar grid (previous month days) #}
                                {% set currdate = starttime %}
                                {% set dow = currdate|date('w')|number_format %}
                                {% set firstDOW = DOWlist[0]|number_format %}
                                {% if dow > firstDOW %}
                                    {% set daysToSubtract = dow - firstDOW %}
                                {% else %}
                                    {% set daysToSubtract = 7 - (firstDOW - dow) %}
                                    {% if daysToSubtract == 7 %}
                                        {% set daysToSubtract = 0 %}
                                    {% endif %}
                                {% endif %}
                                {% set currdate = currdate - (daysToSubtract * 86400) %}
                                
                                {# Calculate end date for the calendar grid (next month days) #}
                                {% set lastdate = endtime %}
                                {% set dow = lastdate|date('w')|number_format %}
                                {% set lastDOW = DOWlist[6]|number_format %}
                                {% if dow < lastDOW %}
                                    {% set daysToAdd = lastDOW - dow %}
                                {% else %}
                                    {% set daysToAdd = 7 - (dow - lastDOW) %}
                                    {% if daysToAdd == 7 %}
                                        {% set daysToAdd = 0 %}
                                    {% endif %}
                                {% endif %}
                                {% set lastdate = lastdate + (daysToAdd * 86400) %}
                                
                                {# Create an array of all dates to display #}
                                {% set allDates = [] %}
                                {% set tempDate = currdate %}
                                {% for i in 0..41 %}
                                    {% if tempDate <= lastdate %}
                                        {% set allDates = allDates|merge([tempDate]) %}
                                        {% set tempDate = tempDate + 86400 %}
                                    {% endif %}
                                {% endfor %}
                                
                                {# Loop through all days in the calendar grid #}
                                {% for day in allDates %}
                                    {% if loop.index0 % 7 == 0 %}
                                        <tr>
                                    {% endif %}
                                    
                                    {% set dayClass = '' %}
                                    {% if day|date('m') != Month|date('m') %}
                                        {% set dayClass = 'prev-month' %}
                                    {% endif %}
                                    
                                    {% if is_weekend_day(day|date('w')) %}
                                        {% set dayClass = dayClass ~ ' weekend-day' %}
                                    {% else %}
                                        {% set dayClass = dayClass ~ ' work-day' %}
                                    {% endif %}
                                    
                                    {% if day|date('Ymd') == Date %}
                                        {% set dayClass = dayClass ~ ' current-day' %}
                                    {% endif %}
                                    
                                    <td class="calendar-day {{ dayClass }}">
                                        <div class="calendar-day-header">
                                            <a href="{{ DAILY_VIEW_URL ~ day|date('Ymd') }}" onclick="top.restoreSession()">
                                                {{ day|date('d')|text }}
                                            </a>
                                        </div>
                                        <div class="calendar-day-events">
                                            {% set eventdate = day|date('Y-m-d') %}
                                            {% if A_EVENTS[eventdate] is defined %}
                                                {% for event in A_EVENTS[eventdate] %}
                                                    {% set eventClass = 'month_event' %}
                                                    {% set pccattype = event.catid is defined ? event.catid : 0 %}
                                                    
                                                    {% if event.catid == 1 %}
                                                        {% set eventClass = eventClass ~ ' event-holiday' %}
                                                    {% elseif event.catid == 2 %}
                                                        {% set eventClass = eventClass ~ ' event-reserved' %}
                                                    {% elseif event.catid == 3 %}
                                                        {% set eventClass = eventClass ~ ' event-appointment' %}
                                                    {% elseif event.catid == 4 %}
                                                        {% set eventClass = eventClass ~ ' event-noshow' %}
                                                    {% elseif event.catid == 5 %}
                                                        {% set eventClass = eventClass ~ ' event-cancelled' %}
                                                    {% elseif event.catid == 6 %}
                                                        {% set eventClass = eventClass ~ ' event-tentative' %}
                                                    {% elseif event.catid == 8 %}
                                                        {% set eventClass = eventClass ~ ' event-complete' %}
                                                    {% elseif event.catid == 9 %}
                                                        {% set eventClass = eventClass ~ ' event-reminder' %}
                                                    {% elseif event.catid == 10 %}
                                                        {% set eventClass = eventClass ~ ' event-noappointment' %}
                                                    {% endif %}
                                                    
                                                    <div data-eid="{{ event.eid|attr }}" 
                                                         class="{{ eventClass }}" 
                                                         style="background-color:{{ event.catcolor|attr }};" 
                                                         title="{{ event.title|attr }}" 
                                                         id="{{ day|date('Ymd') }}-{{ event.eid|attr }}-{{ pccattype|attr }}">
                                                        <a href="{{ PC_BASE_URL }}/index.php?module=PostCalendar&func=view&viewtype=details&eid={{ event.eid }}&Date={{ day|date('Ymd') }}" onclick="top.restoreSession()">
                                                            {{ event.title|text }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    
                                    {% if loop.index % 7 == 0 %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#pc_username").change(function() { ChangeProviders(this); });
        $("#pc_facility").change(function() { ChangeProviders(this); });
        $("#dayview").click(function() { ChangeView(this); });
        $("#weekview").click(function() { ChangeView(this); });
        //$("#monthview").click(function() { ChangeView(this); });
        //$("#yearview").click(function() { ChangeView(this); });
        $(".tdDatePicker").click(function() { ChangeDate(this); });
        $("#datePicker .tdDatePicker").mouseover(function() {
            $(this).toggleClass("tdDatePickerHighlightCurrent");
        });
        $("#datePicker .tdDatePicker").mouseout(function() {
            $(this).toggleClass("tdDatePickerHighlightCurrent");
        });
        $("#printview").click(function() { PrintView(this); });
        $(".month_event").dblclick(function() { EditEvent(this); });
        $(".month_event").mouseover(function() { $(this).toggleClass("event_highlight"); });
        $(".month_event").mouseout(function() { $(this).toggleClass("event_highlight"); });
        $(".tdMonthName-small").click(function() {
            dpCal = $("#datePicker > table");
            mp = $("#monthPicker");
            mp.width(dpCal.width());
            mp.toggle();
        });
        
        $('.providerXbtn').on('click', providerXclick);
    });

    /* edit an existing event */
    var EditEvent = function(eObj) {
        //alert ('editing '+eObj.id);
        // split the object ID into date and event ID
        objID = eObj.id;
        var parts = new Array();
        parts = objID.split("-");
        editing_group = $(eObj).hasClass("groups");
        if(editing_group){
            oldGroupEvt(parts[0], parts[1], parts[2]);
            return true;
        }
        // call the oldEvt function to bring up the event editor
        oldEvt(parts[0], parts[1], parts[2]);
        return true;
    };

    /* change the current date based upon what the user clicked in
     * the datepicker DIV
     */
    var ChangeDate = function(eObj) {
        var baseURL = {{ JAVASCRIPT_BASE_URL|js_escape }};
        var newURL = baseURL.replace(/~REPLACEME~/, eObj.id);
        document.location.href=newURL;
    };

    /* pop up a window to print the current view
     */
    var PrintView = function (eventObject) {
        var printURL = {{ generatePrintURL(template_view|default(''), 'month', Date, pc_username|default(''), category|default(''), topic|default(''))|json_encode }};
        window.open(printURL,'printwindow','width=740,height=480,toolbar=no,location=no,directories=no,status=no,menubar=yes,scrollbars=yes,copyhistory=no,resizable=yes');
        return false;
    };

    /* change the provider(s)
     */
    var ChangeProviders = function (eventObject) {
        $('#theform').submit();
    };

    /* change the calendar view */
    var ChangeView = function (eventObject) {
        if (eventObject.id == "dayview") {
            $("#viewtype").val('day');
        }
        else if (eventObject.id == "weekview") {
            $("#viewtype").val('week');
        }
        else if (eventObject.id == "monthview") {
            $("#viewtype").val('month');
        }
        else if (eventObject.id == "yearview") {
            $("#viewtype").val('year');
        }
        $('#theform').submit();
    };
    
    function providerXclick(e) {
        var username=$(this).data('username');
        if (username=='__PC_ALL__') {
            $("#pc_username option:gt(0)").prop("selected", true);
        } else {
            $("#pc_username option[value="+username+"]").prop("selected", false);
        }
        ChangeProviders($("#pc_username"));
    }
</script>
