{# Twig
*****************************************************************************
Copyright (C) 2005-2006 Rod Roark <rod@sunsetsystems.com> and others
Copyright (C) 2019 Jerry Padgett <sjpadgett@gmail.com>
Copyright (C) 2022 Stephen Nielson <stephen@nielson.org>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
***************************************************************************** #}
<style>
    /* Additional styling to make provider header compact like the Smarty template */
    .providerheader {
        padding: 2px !important;
        line-height: 1.2 !important;
        height: auto !important;
    }
</style>

{% include ("calendar/" ~ TPL_NAME ~ "/views/header.html.twig") %}

{%  include ("calendar/" ~ TPL_NAME ~ "/views/_common-javascript.html.twig") %}

<div id="wrapper">
    <form name='theform' id='theform' action='index.php?module=PostCalendar&func=view&tplview=default&pc_category=&pc_topic=' method='post' onsubmit='return top.restoreSession()'>
      <input type="hidden" name="viewtype" value="month">
      <input type="hidden" name="Date" value="{{ Date|attr }}">
        <div class="container-fluid sticky-top">
            <div id="topToolbarRight" class="bgcolor2">
                {% include "calendar/" ~ TPL_NAME ~ "/views/_menu-toggle.html.twig" with {IS_TODAY: IS_TODAY, viewtype: viewtype, Date:Date} %}

                <div id="dateNAV">
                    <a id='prevmonth' href='{{ PREV_MONTH_URL }}' onclick='top.restoreSession()' title='{{ "Previous Month"|xla }}'>
                        <i class='fa {{ chevron_icon_left|attr}} chevron_color'></i>
                    </a>
                    {{ Month|date('F Y')|text }}
                    <a id='nextmonth' href='{{ NEXT_MONTH_URL }}' onclick='top.restoreSession()' title='{{ "Next Month"|xla }}'>
                        <i class='fa {{ chevron_icon_right|attr}} chevron_color'></i>
                    </a>
                </div>
                {% include "calendar/" ~ TPL_NAME ~ "/views/_view-picker.html.twig" with {activeView:'month', Date: Date} %}
            </div> <!-- end topToolbarRight -->
        </div>
        <div class="sticky-top">
            {% set DOWCalendar = generateDOWCalendar(Date, DOWlist) %}
            {% include ("calendar/" ~ TPL_NAME ~ "/views/_sidebar-bottom-left.html.twig")
                with {Date: Date, prevMonth: prevMonth, prevMonthFormatted: prevMonthFormatted, nextMonth: nextMonth,
                nextMonthFormatted: nextMonthFormatted, DOWlist: DOWlist, DOWCalendar: DOWCalendar, caldateFormatted: caldateFormatted,
                A_SHORT_DAY_NAMES: A_SHORT_DAY_NAMES, facilitySelectorList: facilitySelectorList, providerSelectorList: providerSelectorList, pc_facility: pc_facility, facilities: facilities} %}
        </div>

        <div class="page-content-wrapper">
            <div class="container-fluid calsearch_body">
                <div id="bigCal">
                    {# Set variables for provider display #}
                    {% set displayProviders = true %}
                    {% set providerName = "" %}
                    {% set hasSelectedProvider = false %}
                    
                    {# Check if any provider is specifically selected #}
                    {% if provinfo is defined and provinfo is not empty %}
                        {% set selectedProvider = null %}
                        
                        {# First pass: look for explicitly selected provider #}
                        {% for provider in provinfo %}
                            {% if provider.selected == true %}
                                {% set selectedProvider = provider %}
                            {% endif %}
                        {% endfor %}
                        
                        {# If a provider was selected, use their name #}
                        {% if selectedProvider is not null %}
                            {% set providerName = selectedProvider.lname ~ ', ' ~ selectedProvider.fname %}
                            {% set hasSelectedProvider = true %}
                        {# If no provider is selected, default to the currently logged-in provider #}
                        {% else %}
                            {% set currentUserProvider = null %}
                            {% for provider in provinfo %}
                                {% if provider.id == authUserID|default %}
                                    {% set currentUserProvider = provider %}
                                {% endif %}
                            {% endfor %}
                            
                            {% if currentUserProvider is not null %}
                                {% set providerName = currentUserProvider.lname ~ ', ' ~ currentUserProvider.fname %}
                                {% set hasSelectedProvider = true %}
                            {% endif %}
                        {% endif %}
                        
                        {# If still no provider selected, show "All Providers" #}
                        {% if not hasSelectedProvider %}
                            {% set providerName = "All Providers"|xl %}
                        {% endif %}
                    {% else %}
                        {% set providerName = "All Providers"|xl %}
                    {% endif %}
                
                {# Table with the month calendar using calendarsByProvider structure #}
                {% if calendarsByProvider is defined and calendarsByProvider|length > 0 %}
                    {% for providerCalendar in calendarsByProvider %}
                        <div class="table-responsive">
                            <table class='table table-sm table-bordered'>
                                <thead>
                                    <tr>
                                        <th colspan="7" class="providerheader">
                                            {{ providerCalendar.provider.fname|text }} {{ providerCalendar.provider.lname|text }}
                                        </th>
                                    </tr>
                                    <tr>
                                        {% for dow in DOWlist %}
                                            <td class="tdDOW-small text-center">{{ A_SHORT_DAY_NAMES[dow]|text }}</td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for week in providerCalendar.calendar %}
                                        <tr>
                                            {% for day in week %}
                                                <td class="calendar-day schedule {{ day.class }}">
                                                    <div class="calendar_day">
                                                        <div class="month_daylink">
                                                            <a href="{{ day.url }}" title="{{ day.title|attr }}" onclick="top.restoreSession()">
                                                                {{ day.text|text }}
                                                            </a>
                                                        </div>
                                                        <div class="calendar-day-events">
                                                            {% if day.events|length > 0 %}
                                                                {% for event in day.events %}
                                                                    {% set eventClass = 'month_event' %}
                                                                    {% set pccattype = event.catid is defined ? event.catid : 0 %}
                                                                    
                                                                    {# Determine event class based on category #}
                                                                    {% if event.catid == 1 %}
                                                                        {% set eventClass = 'month_event event_noshow' %}
                                                                    {% elseif event.catid == 2 %}
                                                                        {% set eventClass = 'month_event event_in' %}
                                                                    {% elseif event.catid == 3 %}
                                                                        {% set eventClass = 'month_event event_out' %}
                                                                    {% elseif event.catid == 4 %}
                                                                        {% set eventClass = 'month_event event_reserved' %}
                                                                    {% elseif event.catid == 6 %}
                                                                        {% set eventClass = 'month_event event_holiday hiddenevent' %}
                                                                    {% elseif event.catid == 8 %}
                                                                        {% set eventClass = 'month_event event_reserved' %}
                                                                    {% elseif event.catid == 11 %}
                                                                        {% set eventClass = 'month_event event_reserved' %}
                                                                    {% else %}
                                                                        {% set eventClass = 'month_event event_appointment' %}
                                                                    {% endif %}
                                                                    
                                                                    {# Allow eventViewClass to override if present #}
                                                                    {% if event.eventViewClass is defined %}
                                                                        {% set eventClass = event.eventViewClass %}
                                                                    {% endif %}
                                                                    
                                                                    {% set eventid = event.eid|default('') %}
                                                                    {% set patientid = event.pid|default('') %}
                                                                    {% set catid = event.catid|default('') %}
                                                                    
                                                                    {# Build event display matching Smarty template style #}
                                                                    <div data-eid="{{ eventid|attr }}" 
                                                                         class="{{ eventClass }}" 
                                                                         style="background-color:{{ event.catcolor|attr }};" 
                                                                         title="{{ event.title|attr }}" 
                                                                         id="{{ event.eventdate|default('')|attr }}-{{ eventid|attr }}-{{ pccattype|attr }}">
                                                                        {{ event.displayTime|default('')|text }}
                                                                        {% if event.patient_name is defined and event.patient_name %}
                                                                            {{ event.patient_name|text }}
                                                                        {% elseif event.group_name is defined and event.group_name %}
                                                                            {{ event.group_name|text }}
                                                                        {% else %}
                                                                            {{ event.catname|default('')|text }}
                                                                        {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                {% else %}
                    {# Fallback if calendarsByProvider is not available #}
                    <div class="alert alert-info">{{ "No calendar data available"|xlt }}</div>
                {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#pc_username").change(function() { ChangeProviders(this); });
        $("#pc_facility").change(function() { ChangeProviders(this); });
        $("#dayview").click(function() { ChangeView(this); });
        $("#weekview").click(function() { ChangeView(this); });
        //$("#monthview").click(function() { ChangeView(this); });
        //$("#yearview").click(function() { ChangeView(this); });
        $(".tdDatePicker").click(function() { ChangeDate(this); });
        $("#datePicker .tdDatePicker").mouseover(function() {
            $(this).toggleClass("tdDatePickerHighlightCurrent");
        });
        $("#datePicker .tdDatePicker").mouseout(function() {
            $(this).toggleClass("tdDatePickerHighlightCurrent");
        });
        $("#printview").click(function() { PrintView(this); });
        $(".month_event").dblclick(function() { EditEvent(this); });
        $(".month_event").mouseover(function() { $(this).toggleClass("event_highlight"); });
        $(".month_event").mouseout(function() { $(this).toggleClass("event_highlight"); });
        $(".tdMonthName-small").click(function() {
            dpCal = $("#datePicker > table");
            mp = $("#monthPicker");
            mp.width(dpCal.width());
            mp.toggle();
        });
        
        $('.providerXbtn').on('click', providerXclick);
    });

    /* edit an existing event */
    var EditEvent = function(eObj) {
        //alert ('editing '+eObj.id);
        // split the object ID into date and event ID
        objID = eObj.id;
        var parts = new Array();
        parts = objID.split("-");
        editing_group = $(eObj).hasClass("groups");
        if(editing_group){
            oldGroupEvt(parts[0], parts[1], parts[2]);
            return true;
        }
        // call the oldEvt function to bring up the event editor
        oldEvt(parts[0], parts[1], parts[2]);
        return true;
    };

    /* change the current date based upon what the user clicked in
     * the datepicker DIV
     */
    var ChangeDate = function(eObj) {
        var baseURL = {{ JAVASCRIPT_BASE_URL|js_escape }};
        var newURL = baseURL.replace(/~REPLACEME~/, eObj.id);
        document.location.href=newURL;
    };

    /* pop up a window to print the current view
     */
    var PrintView = function (eventObject) {
        var printURL = {{ generatePrintURL(template_view|default(''), 'month', Date, pc_username|default(''), category|default(''), topic|default(''))|json_encode }};
        window.open(printURL,'printwindow','width=740,height=480,toolbar=no,location=no,directories=no,status=no,menubar=yes,scrollbars=yes,copyhistory=no,resizable=yes');
        return false;
    };

    /* change the provider(s)
     */
    var ChangeProviders = function (eventObject) {
        $('#theform').submit();
    };

    /* change the calendar view */
    var ChangeView = function (eventObject) {
        if (eventObject.id == "dayview") {
            $("#viewtype").val('day');
        }
        else if (eventObject.id == "weekview") {
            $("#viewtype").val('week');
        }
        else if (eventObject.id == "monthview") {
            $("#viewtype").val('month');
        }
        else if (eventObject.id == "yearview") {
            $("#viewtype").val('year');
        }
        $('#theform').submit();
    };
    
    function providerXclick(e) {
        var username=$(this).data('username');
        if (username=='__PC_ALL__') {
            $("#pc_username option:gt(0)").prop("selected", true);
        } else {
            $("#pc_username option[value="+username+"]").prop("selected", false);
        }
        ChangeProviders($("#pc_username"));
    }
</script>
