<div class="modal" id="tips" tabindex="-1" aria-labelledby="tipsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tipsModalLabel">{{ "Usage Tips"|xlt }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|xla }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>{{ "Clicking Options will present a multiselection drop menu to add behaviors to the selected data type. Typing after pull down activates allows search in options."|xlt }}</li>
            <li>{{ "The option Span Entire Row is useful when using Static Text in allowing text to wrap and span entire row regardless of column settings. Another use could be to create an empty row as spacer or add additional option Add Bottom Border to create a line break.Only Bottom Border Row is useful here."|xlt }}</li>
            <li>{{ "The options for Outline and Border will either wrap a row in thin border or add a border to the bottom of an item."|xlt }}</li>
            <li>{{ "If a field's Label Col = 0 the label will immediately follow the previous data field in the Order sequence, on the same line as the Data field."|xlt }}</li>
            <li>{{ "If a field's Data Col = 0 the data field will immediately follow its label field on the same line"|xlt }}</li>
            <li>{{ "If a field's Label Col = 1 the label field will go to a new line unless the previous field's total column values (Label + Data) is less than number of Layout columns from Group Properties or Layout Properties."|xlt }}</li>
            <li>{{ "Generally, the first field in a group should be Label Cols = 1 Data Cols = number of Layout columns from Group Properties."|xlt }}</li>
            <li>{{ "Make subsequent fields in the same row, Label = 0 Data = 0 and ensure enough columns are available from previous items to allow space for this new item. Otherwise result could be unpredictable"|xlt }}</li>
            <li>{{ "The Encounter Preview button is useful for showing encounter type layout forms as seen when using form in an encounter. Note, this feature is only useful for showing encounter forms and won't display system forms like Demographics"|xlt }}</li>
            <li>{{ "Please see http://www.open-emr.org/wiki/index.php/LBV_Forms for more on this topic"|xlt }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
