{#
A partial used to build out the login form.

* Set google_signin_info_container_class_list with an array of class names to override the form group row

@todo Break this out to make a parital _just_ for the form

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% extends "login/base.html.twig" %}

{% block css %}
{{ parent() }}
<style>
@media screen (min-width: 768px) {
    .band {
        width: 50%;
    }
}
.band {
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div class="vh-100 w-100 p-0 d-flex justify-content-center align-items-center">
    {# The primary box container #}
    <div class="w-100 d-flex justify-content-center band">
        <div class="m-0 p-0 d-flex flex-column flex-md-row {{ login_box_classes|default(['flex-lg-row'])|join(' ') }}">
            {# The Logo container #}
            <div class="py-2 px-2 py-md-3 px-md-5 d-flex flex-column justify-content-center align-items-stretch flex-fill">
                <div class="align-self-center">
                    {% set logo_flex_direction = "flex-column" %}
                    {% include "login/partials/html/primary_logo.html.twig" %}
                </div>
            </div>
            {# The Login details container #}
            <div class="p-xs-0 p-md-5 flex-fill">
                {% if displaySmallLogo %}
                    <div class="mb-5 small-logos-container">
                        {% include "login/partials/html/small_logo.html.twig" %}
                    </div>
                {% endif %}

                {% include "login/partials/html/tagline.html.twig" %}

                {% include "login/partials/html/relogin.html.twig" %}

                {% include "login/partials/html/login_failure.html.twig" %}

                <form method="POST" id="login_form" autocomplete="off" action="../login/reset-password.php" target="_top" name="login_form">
                    <input type="hidden" name="new_login_session_management" value="1">
                    <input type="hidden" name="languageChoice" value="{{ defaultLangID|attr }}">
                    {% include "login/partials/input/username.html.twig" %}
                    {% include "login/partials/input/password.html.twig" %}
                    <a href="../login/login.php">{{ "Back to Login"|xlt }}</a>
                    <div class="{{ button_container_class_list|default(['form-group', 'd-flex', 'justify-content-between'])|join(' ') }}">
                        <button id="login-button" class="btn btn-primary flex-fill" type="submit" onclick="transmit_form(this)">{{ "Reset Password"|xlt }}</button>
                        {% if displayGoogleSignin %}
                            <div class="g_id_signin flex-fill" data-type="standard"></div>
                        {% endif %}
                    </div>

                    {% if displayGoogleSignin %}
                    <div class="{{ google_signin_info_container_class_list|default(['form-group', 'row'])|join(' ') }}">
                        <input type="hidden" id="used-google-signin" name="used_google_signin" value="">
                        <input type="hidden" id="google-signin-token" name="google_signin_token" value="">
                        <div id="google-signin" onclick="return do_google_signin();">
                            <!-- This message is displayed if the google platform API cannot render the button -->
                            <span id="google-signin-service-unreachable-alert" style="display:none;">
                                {{ "Google Sign-In is enabled but the service is unreachable."|xlt }}
                            </span>
                        </div>
                        <div id="google-signout">
                            <a href="#" onclick="signOut();">{{ "Sign out"|xlt }}</a>
                        </div>
                    </div>
                    {% endif %}
                </form>

                {% include "login/partials/html/acknowledgements.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
