{#
Render the primary and secondary (if set) logos.

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% set secondaryLogoPosition = (secondaryLogoPosition == 'first') ? 'flex-column-reverse' : ''  %}
<div class="{{ logo_container_class_list|default(['d-flex', 'flex-column', 'justify-content-between', 'align-items-center'])|join(' ')|attr }} {{ logo_flex_direction|default([])|join(' ')|attr }} {{ secondaryLogoPosition|attr }}">
    <div class="{{ primary_logo_container_class_list|default(['flex-fill'])|join(' ')|attr }}">
        <img src="{{ primaryLogo|attr }}" class="img-fluid" alt="">
    </div>
    {% if displaySecondaryLogo and secondaryLogo %}
        <div class="{{ logo_divider_container_class_list|default(['px-3', 'py-2', 'flex-fill'])|join(' ')|attr }}">
            <i class="fas fa-plus"></i>
        </div>
        <div class="{{ secondary_logo_container_class_list|default(['flex-fill', 'pb-4'])|join(' ')|attr }}">
            <img src="{{ secondaryLogo|attr }}" alt="" class="img-fluid">
        </div>
    {% endif %}
</div>
