{# Note if you change this id you need to change the vitals_actions.html.twig and vitals.js to match #}
<tr id="{{ input|attr }}_reason_code" class="reasonCodeContainer {% if not vitals.has_reason_for_column(input) %}d-none{% endif %}">
    <td colspan="5" class="border-top-0">
        <div class="card mt-2 mb-4">
            <div class="card-header">
                {{ title|text }} {{ "Reason Information"|xlt }}
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="col">
                        {{ "When recording a reason for the value (or absence of a value) of an observation both the reason code and status of the reason are required"|xlt }}
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{ "Reason Code"|xlt }}</label>
                        {% if vitalDetails is not null and vitalDetails.get_reason_code() is not empty %}
                        <input class="code-selector-popup form-control" placeholder="{{ "Select a reason code"|xla }}
                               name="reasonCode[{{ input|attr }}]" type="text" value="{{ vitalDetails.get_reason_code()|attr }}" />
                        {% else %}
                        <input class="code-selector-popup form-control" placeholder="{{ "Select a reason code"|xla }}"
                               name="reasonCode[{{ input|attr }}]" type="text" value="" />
                        {% endif %}

                        {% if vitalDetails is not null and vitalDetails.get_reason_description() is not empty %}
                            <p class="code-selector-text-display">{{ vitalDetails.get_reason_description()|text }}</p>
                            <input type="hidden" name="reasonCodeText[{{ input|attr }}]" class="code-selector-text" value="{{ vitalDetails.get_reason_description()|attr }}" />
                        {% else %}
                            <p class="code-selector-text-display d-none"></p>
                            <input type="hidden" name="reasonCodeText[{{ input|attr }}]" class="code-selector-text" value="" />
                        {% endif %}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{ "Reason Status"|xlt }}</label>
                        <select name="reasonCodeStatus[{{ input|attr }}]" class="form-control">
                            {% for codeDesc in reasonCodeStatii %}
                                <option value="{{ codeDesc.code|attr }}"
                                        {% if vitalDetails is not null and vitalDetails.get_reason_status() == codeDesc.code %}selected{% endif %}
                                >{{ codeDesc.description|text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </td>

    {% for result in results %}
        <td class="historicalvalues {% if is_edit %}d-none d-md-table-cell{% endif %}"></td>
    {% endfor %}
</tr>
